[KCM Locale]
Name=Arabic
Name[af]=Arabiese
Name[ar]=عربية
Name[az]=Ərabcə
Name[be]=Арабская
Name[bg]=Арабски
Name[bn]=আরবী
Name[br]=Arabeg
Name[bs]=Arapski
Name[ca]=Àrab
Name[cs]=Arabský
Name[csb]=Arabsczi
Name[cy]=Arabeg
Name[da]=Arabisk
Name[de]=Arabisch
Name[el]=Αραβικά
Name[eo]=Araba
Name[es]=Árabe
Name[et]=Araabia
Name[eu]=Arabiera
Name[fa]=عربی
Name[fi]=Arabia
Name[fo]=Arabiskt
Name[fr]=Arabe
Name[fy]=Arabysk
Name[ga]=Araibis
Name[gl]=Árabe
Name[he]=ערבית
Name[hi]=अरबी
Name[hr]=Arapski
Name[hsb]=Arabsce
Name[hu]=Arab
Name[id]=Arab
Name[is]=Arabíska
Name[it]=Arabo
Name[ja]=アラビア語
Name[ka]=არაბული
Name[kk]=Арабша
Name[km]=អារ៉ាប់
Name[ko]=아라비아어
Name[ku]=Erebî
Name[lb]=Arabesch
Name[lt]=Arabų
Name[lv]=Arābu
Name[mi]=Reo Arapia
Name[mk]=Арапски
Name[mn]=Араб
Name[ms]=Arab
Name[mt]=Għarbi
Name[nb]=Arabisk
Name[nds]=Araabsch
Name[ne]=अरबी
Name[nl]=Arabisch
Name[nn]=Arabisk
Name[nso]=Se-Arapo
Name[oc]=Arab
Name[pa]=ਅਰਬੀ
Name[pl]=Arabski
Name[pt]=Árabe
Name[pt_BR]=Árabe
Name[ro]=Arabă
Name[ru]=Арабский
Name[rw]=Icyarabu
Name[se]=Arábagiella
Name[sk]=arabčina
Name[sl]=arabsko
Name[sq]=Arabisht
Name[sr]=Арапски
Name[sr@Latn]=Arapski
Name[ss]=Si-Arabhu
Name[sv]=Arabiska
Name[ta]=அராபிக்
Name[te]=అరబిక్
Name[tg]=Арабӣ
Name[th]=ภาษาอารบิก
Name[tr]=Arapça
Name[tt]=Ğäräpçä
Name[uk]=Арабська
Name[uz]=Arabcha
Name[uz@cyrillic]=Арабча
Name[ven]=Tshiarabiki
Name[vi]=A-rập
Name[wa]=Arabe
Name[zh_CN]=阿拉伯语
Name[zh_HK]=阿拉伯語
Name[zh_TW]=阿拉伯語
Name[zu]=isi-Arabhu
