[KCM Locale]
Name=Northern Sami
Name[af]=Noord Sami
Name[ar]=سامي الشّمال
Name[az]=Şimali Sami Dili
Name[be]=Самі (поўнач)
Name[bg]=Северен Сами
Name[bn]=উত্তর সামি
Name[br]=Sami, Norzh
Name[bs]=Sjeverni Sami
Name[ca]=Sami del nord
Name[cs]=Severní Sami
Name[csb]=Nordowi Sami
Name[cy]=Sami Gogleddol
Name[da]=Nordsamisk
Name[de]=Nördliches Sami
Name[eo]=Nord-Samea
Name[es]=Sami del norte
Name[et]=Põhja-saami
Name[eu]=Ipar Samiera
Name[fa]=سامی شمالی
Name[fi]=Pohjoissaame
Name[fr]=Sami du nord
Name[fy]=Noard-Koreaansk
Name[ga]=Sáimis Thuaidh
Name[gl]=Sami do Norte
Name[he]=סאמית צפונית
Name[hi]=उत्तरी सामी
Name[hr]=Sjeverni Sami
Name[hsb]=Sewjernosamisce
Name[hu]=Északi szami
Name[id]=Sami Utara
Name[is]=Norðursamíska
Name[it]=Sami settentrionale
Name[ja]=北サーミ語
Name[ka]=ჩრდილო საამი
Name[kk]=Солтүстік саами
Name[km]=សាមីជើង
Name[ko]=북부 사미어
Name[ku]=Samî ya Bakurî
Name[lb]=Nördlecht Sawi
Name[lt]=Šiaurės Sami
Name[lv]=Ziemeļu Sāmu
Name[mk]=Северен Сами
Name[mn]=Нордсами
Name[ms]=Sami Utara
Name[mt]=Sami ta' Fuq
Name[nb]=Nordsamisk
Name[nds]=Noord-Saamsch
Name[ne]=उत्तरी सामी
Name[nl]=Noord-Saami
Name[nn]=Nordsamisk
Name[nso]=Ya Lebowa la Sami
Name[pa]=ਉੱਤਰੀ ਸਾਮੀ
Name[pl]=Północny Sami
Name[pt]=Sami do Norte
Name[pt_BR]=Sami do Norte
Name[ro]=Sami de Nord
Name[ru]=Северное Саами
Name[rw]=Igisami amajyaruguru
Name[se]=Davvi sámegiella
Name[sk]=južná saamčina
Name[sl]=Severni Sami
Name[sq]=Sami verior
Name[sr]=Северносамски
Name[sr@Latn]=Severnosamski
Name[ss]=SiSami sasenyakatfo
Name[sv]=Samiska
Name[ta]=நார்தன் சாமி
Name[te]=ఉత్త ర సమి
Name[tg]=Ирландӣ (Самӣ)
Name[th]=ภาษาซามิตอนเหนือ
Name[tr]=Kuzey Sami
Name[tt]=Tönyaq Sami
Name[uk]=Північне Саамі
Name[uz]=Shimoliy Saamicha
Name[uz@cyrillic]=Шимолий Саамича
Name[ven]=Sami ya devhula
Name[vi]=Xa-mi (Bắc)
Name[wa]=Bijhe såmi
Name[zh_CN]=北部沙米语
Name[zh_HK]=北薩米語
Name[zh_TW]=北拉普語
Name[zu]=Nyakatho ne-Sami
Region=northeurope
DateMonthNamePossessive=true
NounDeclension=true
