[KCM Locale]
Name=Uzbek (Cyrillic)
Name[bg]=Узбекски (кирилица)
Name[ca]=Uzbek (Ciríl·lic)
Name[da]=Uzbekisk (kyrillisk)
Name[de]=Usbekisch (Kyrillisch)
Name[el]=Ουζμπεκικά (Κυριλικά)
Name[es]=Uzbeko (Cirílico)
Name[et]=Usbeki (kirillitsa)
Name[fr]=Ouzbek (Cyrillique)
Name[is]=Úzbekíska (Kyrilísk)
Name[it]=Usbeco (Cirillico)
Name[ja]=ウズベク語 (キリル文字)
Name[km]=អ៊ូហ្សបេគីស្តង់ (ស៊ីរីក)
Name[nds]=Usbeeksch (kyrillsch)
Name[pl]=Uzbecki (cyrlica)
Name[sk]=uzbečtina (cyrilika)
Name[sr]=Узбечки ћирилични
Name[sr@Latn]=Узбечки ћирилични
Name[sv]=Kyrillisk Uzbekiska
Name[zh_TW]=烏玆別克語（斯拉夫語系）
