[KCM Locale]
Name=Tamil
Name[af]=Tamiliese
Name[ar]=تاميلية
Name[az]=Tamilcə
Name[be]=Тамільская
Name[bg]=Тамилски
Name[bn]=তামিল
Name[br]=Tamouleg
Name[bs]=Tamilski
Name[cs]=Tamilský
Name[csb]=Tamilsczi
Name[da]=Tamilsk
Name[eo]=Tamila
Name[et]=Tamili
Name[eu]=Tamilera
Name[fa]=تامیلی
Name[fo]=Tamilskt
Name[fr]=Tamoul
Name[ga]=Tamailis
Name[he]=טמילית
Name[hi]=तमिल
Name[hr]=Tamilski
Name[hsb]=Tamilsce
Name[is]=Tamílska
Name[ja]=タミル語
Name[ka]=თამილი
Name[kk]=Тамилша
Name[km]=តាមីល
Name[ko]=타밀어
Name[ku]=Tamîl
Name[lt]=Tamilų
Name[lv]=Tamilu
Name[mi]=Reo Ïnia tonga
Name[mk]=Тамилски
Name[mn]=Тамил
Name[nds]=Tamielsch
Name[ne]=तामिल
Name[nn]=Tamilsk
Name[nso]=Se-Tamil
Name[pa]=ਤਾਮਿਲ
Name[pl]=Tamiljski
Name[ro]=Tamilă
Name[ru]=Тамильский
Name[rw]=Igitamili
Name[se]=Tamilagiella
Name[sk]=tamilčina
Name[sl]=tamilsko
Name[sq]=Tamilisht
Name[sr]=Тамилски
Name[sr@Latn]=Tamilski
Name[ss]=Si-Tamil
Name[ta]=தமிழ்
Name[te]=తమిళం
Name[tg]=Тамилӣ
Name[th]=ภาษาทมิฬ
Name[tr]=Tamil Dili
Name[tt]=Tamilça
Name[uk]=Тамільська
Name[uz]=Tamilcha
Name[uz@cyrillic]=Тамилча
Name[ven]=Muthamili
Name[vi]=Ta-min
Name[wa]=Tamoul
Name[zh_CN]=泰米尔语
Name[zh_HK]=坦米爾語
Name[zh_TW]=泰米爾語
Name[zu]=Isi-Tamili
