[KCM Locale]
Name=Serbian Latin
Name[af]=Serbiese Latyn
Name[ar]=الصربو-لاتينية
Name[be]=Сербская (лацінка)
Name[bg]=Сръбски (латински)
Name[bn]=সার্বীয় লাতিন
Name[br]=Serbeg latin
Name[bs]=Srpski latinica
Name[ca]=Serbi Llatí
Name[cs]=Srbský (latinka)
Name[csb]=Serbsczi (łacëńsczi)
Name[cy]=Serbieg Lladin
Name[da]=Serbisk latin
Name[de]=Serbisch (lat. Alphabet)
Name[el]=Σερβικά
Name[eo]=Serba latine
Name[es]=Serbio latino
Name[et]=Serbia (ladina)
Name[eu]=Serbiera latinoa
Name[fa]=صربی لاتین
Name[fi]=Serbian latinalainen
Name[fr]=Serbe latin
Name[fy]=Servysk latynsk
Name[ga]=Seirbis (aibítir Laidineach)
Name[gl]=Sérvio Latino
Name[he]=סרבית לטינית
Name[hi]=सर्बियाई लेटिन
Name[hr]=Srpski, latinica
Name[hsb]=Serbisce (latinica)
Name[hu]=Szerb latin
Name[id]=Serbia Latin
Name[is]=Serbnesk latína
Name[it]=Serbo in caratteri latini
Name[ja]=セルビア語 (ラテン文字)
Name[ka]=სერბული (ლათინური)
Name[kk]=Латындагы сербша
Name[km]=សែប៊ី ឡាតាំង
Name[ko]=세르비아어 (라틴)
Name[ku]=Sirbiya Latînî
Name[lb]=Serbesch (latäinescht Alphabet)
Name[lt]=Serbų lotynų
Name[lv]=Serbu latīņu
Name[mk]=Српски латиничен
Name[ms]=Latin Serbia
Name[nb]=Serbisk, latin
Name[nds]=Serbsch (Latiensche Schrift)
Name[ne]=सर्बियाली ल्यटिन
Name[nl]=Servisch Latijns
Name[nn]=Serbisk latin
Name[pa]=ਸਰਬੀਅਨ ਲੈਟਿਨ
Name[pl]=Serbski (skrypt łaciński)
Name[pt]=Sérvio Latino
Name[pt_BR]=Latim Sérvio
Name[ro]=Latină sîrbă
Name[ru]=Сербский (латиница)
Name[rw]=Ikilatini cya Seribiya
Name[se]=Serbialaš latiidna
Name[sk]=srbčina (latinka)
Name[sl]=srbsko (latinica)
Name[sr]=Српски (латиница)
Name[sr@Latn]=Srpski (latinica)
Name[sv]=Latinsk serbiska
Name[ta]=செர்பியன் லத்தீன்
Name[te]=సెర్బియన్ లాటిన్
Name[tg]=Сербияи Лотинӣ
Name[th]=ภาษาละตินเซอร์เบีย
Name[tr]=Latin Sırpça
Name[tt]=Serbçä, Latinälif
Name[uk]=Сербська (латиниця)
Name[uz]=Serbcha (lotin)
Name[uz@cyrillic]=Сербча (лотин)
Name[vi]=Xéc-bi (La-tinh)
Name[wa]=Siebe (alfabet latén)
Name[zh_CN]=塞尔维亚拉丁语
Name[zh_HK]=塞爾維亞拉丁語
Name[zh_TW]=塞爾維亞拉丁語
