[Desktop Entry]
Encoding=UTF-8
Icon=kaffeine
MimeType=application/x-ogg;audio/basic;audio/vnd.rn-realaudio;audio/x-aiff;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-ogg;audio/x-pn-realaudio;audio/x-pn-realaudio-plugin;audio/x-scpls;audio/x-wav;audio/x-flac;video/x-matroska;audio/x-matroska;video/mpeg;video/msvideo;video/quicktime;video/vnd.rn-realvideo;video/x-avi;video/x-fli;video/x-flic;video/x-ms-asf;video/x-ms-asf-plugin;video/x-ms-wmv;video/x-msvideo;application/x-mplayer2;application/smil;application/x-kaffeine;audio/x-musepack;
Name=Kaffeine-Xine
Name[nb]=Kaffeine Xine
Name[pa]=ਕੈਫੀਨ-ਜ਼ਾਇਨ
Name[se]=Kaffeine Xine
Name[xx]=xxKaffeine-Xinexx
Comment=A Kaffeine engine based on xine.
Comment[af]='n Kaffeine enjin wat op Xine gebaseer is.
Comment[bg]=Ядро за Kaffeine, базирано на xine.
Comment[ca]=Una part de reproductor basada en xine.
Comment[cs]=Část přehrávače založená na xine.
Comment[da]=En Kaffeine-grænseflade baseret på Xine.
Comment[de]=Ein auf Xine basierendes Programmmodul.
Comment[el]=Μία μηχανή του Kaffeine βασισμένη στο xine.
Comment[es]=Un motor de Kaffeine basado en xine.
Comment[et]=Kaffeine mootor xine põhjal.
Comment[fi]=xine-kirjastoa käyttävä toistoydin.
Comment[ga]=Inneall Kaffeine bunaithe ar xine.
Comment[gl]=Un motor para Kaffeine baseado en Xine.
Comment[hu]=Xine-alapú Kaffeine-alrendszer.
Comment[it]=Un motore di Kaffeine basato su xine.
Comment[ja]=xine に基づく Kaffeine エンジン
Comment[km]=ម៉ាស៊ីន​ Kaffeine មាន​មូលដ្ឋាន​លើ xine ។
Comment[lt]=Kaffeine variklis, paremtas Xine.
Comment[nb]=En spillermotor basert på xine.
Comment[nl]=Een Kaffeine-engine gebaseerd op xine.
Comment[pa]=ਜ਼ਾਈਨ ਅਧਾਰਤ ਇੱਕ ਕੈਫ਼ੀਨ ਇੰਜਣ ਹੈ।
Comment[pl]=Moduł odtwarzacza do Kaffeine bazujący na xine.
Comment[pt]=Um motor Kaffeine no xine.
Comment[pt_BR]=Um componente de reprodução Kaffeine baseado no xine.
Comment[se]=Čuojanmohtor vuođđoduvvon xineáis.
Comment[sr]=Кафеинов мотор заснован на Xine-у.
Comment[sr@Latn]=Кафеинов мотор заснован на Xine-у.
Comment[sv]=En Kaffeine-gränssnitt baserad på Xine.
Comment[tg]=Барномаи Kaffeine дар асоси xine.
Comment[th]=โปรแกรมประมวลผลของ Kaffeine โดยใช้ xine
Comment[tr]=xine tabanlı bir Kaffeine motoru.
Comment[uk]=Рушій Kaffeine, оснований на xine.
Comment[xx]=xxA Kaffeine engine based on xine.xx
ServiceTypes=KParts/ReadOnlyPart,KaffeinePart
Type=Service
X-KDE-Library=libxinepart
InitialPreference=9
