[KCM Locale]
Name=Low Saxon
Name[af]=Lae Saxon
Name[ar]=الساكسونية الجنوبية
Name[be]=Ніжне-саксонская
Name[bg]=Долносаксонски
Name[bn]=লো স্যাক্সন
Name[br]=Saozeg izel
Name[bs]=Donji Saksonski
Name[ca]=Baix Saxó
Name[cs]=Dolnosaský
Name[csb]=Dólnosaksońsczi
Name[cy]=Sacsoneg Isel
Name[da]=Nedersaksisk
Name[de]=Niederdeutsch
Name[eo]=Malsupra saksa
Name[es]=Sajón bajo
Name[et]=Alamsaksi
Name[eu]=Beheko Sajoniera
Name[fa]=ساکسون سفلی
Name[fi]=Alasaksa
Name[fr]=Bas saxon (ou francique, ou plattdeutsch)
Name[fy]=Neder Saksysk
Name[ga]=Sacsainis Íochtarach
Name[gl]=Baixo Saxón
Name[he]=לאו סקסון
Name[hi]=लाओ सेक्सॉन
Name[hr]=Donjosaksonski
Name[hsb]=Delnjosaksce
Name[hu]=Alsó-szász
Name[it]=Sassone inferiore
Name[ja]=低ザクセン語
Name[ka]=ქვედასაქსონური
Name[kk]=Төмен саксонша
Name[km]=ឡូសាក់សុង
Name[ko]=색슨어 (Low)
Name[ku]=Saksonî ya Jêrîn
Name[lb]=Niddersächsesch
Name[lt]=Žemutinių saksonų
Name[lv]=Lejas Sakšu
Name[mk]=Долно саксонски
Name[nb]=Nedersaksisk
Name[nds]=Plattdüütsch
Name[ne]=लो साक्सोन
Name[nl]=Neder Saksisch
Name[nn]=Lågsaksisk
Name[pa]=ਲੋਵ ਲਵੋਨ
Name[pl]=Dolnosaksoński
Name[pt]=Baixo-Saxão
Name[pt_BR]=Baixo Saxão 
Name[ro]=Saxonă de jos
Name[ru]=Нижнесаксонский
Name[rw]=Igisagisoni cyo hasi
Name[se]=Vuolle sáksalaš
Name[sk]=dolná saština
Name[sl]=spodnjesaško
Name[sr]=Доњи саксонски
Name[sr@Latn]=Donji saksonski
Name[sv]=Lågsachsiska
Name[ta]=லோ சாக்ஸான்
Name[te]=లో సాక్సన్
Name[tg]=Лаосӣ
Name[th]=ภาษาเยอรมัน ระดับล่าง
Name[tr]=Low Sakson
Name[tt]=Saksonça, Asqı
Name[uk]=Ніжньо-Саксонська
Name[uz]=Past Saksoncha
Name[uz@cyrillic]=Паст Саксонча
Name[vi]=Xéc-xợnh muộn
Name[wa]=Bas sacson
Name[zh_CN]=撒克逊语
Name[zh_HK]=低地薩克遜語
Name[zh_TW]=下薩克遜語
