[KCM Locale]
Name=Norwegian Bokmål
Name[af]=Noörweese Bokmaal
Name[be]=Нарвежская бокмаль
Name[bg]=Норвежки (букмол)
Name[br]=Norvegeg Bokmål
Name[bs]=Norveški Bokmål
Name[ca]=Noruec (Bokmål)
Name[cs]=Norský (Bokmål)
Name[csb]=Norwesczi Bokmål
Name[cy]=Bokmål Norwyeg
Name[da]=Norsk bokmål
Name[de]=Norwegisch (Bokmål)
Name[el]=Νορβηγικά
Name[eo]=Norvega (Bokmål)
Name[es]=Noruego Bokmål
Name[et]=Norra Bokmål
Name[eu]=Norvegiera (Bokmål)
Name[fa]=بوکسمال نروژی
Name[fi]=Norja (bokmål)
Name[fr]=Norvégien Bokmål
Name[fy]=Noarsk, Bokmål
Name[ga]=Ioruais (Bokmål)
Name[gl]=Noruegués (Bokmaal)
Name[he]=נורבגית (Bokmål)
Name[hi]=नारवेजियाई बोकमाल
Name[hr]=Norveški Bokmaal
Name[hsb]=Norwegsce (Bokmaal)
Name[hu]=Norvég (bokmål)
Name[id]=Norwegian
Name[is]=Norska (bókmál)
Name[it]=Norvegese Bokmål
Name[ja]=ノルウェー語 (ブークモール)
Name[ka]=ნორვეგიული (ლიტერატურული)
Name[kk]=Норвег букмалша
Name[km]=ន័រវែស បុកម៉ាល់
Name[ko]=노르웨이어 (복말)
Name[ku]=Norwêcî Bokmål
Name[lb]=Norwegesche Bokmål
Name[lt]=Norvegų (Bokmål)
Name[lv]=Norvēģu (Bokmālas)
Name[mk]=Норвешки (Bokmål)
Name[nb]=Norsk bokmål
Name[nds]=Norweegsch (Bokmål)
Name[ne]=नर्वेली बोकमाल
Name[nl]=Noors (Bokmål)
Name[nn]=Norsk (bokmål)
Name[pa]=ਨੋਰਵੀਗੀਅਨ ਬੋਕਮਾਲ
Name[pl]=Norweski Bokmål
Name[pt]=Norueguês Bokmål
Name[pt_BR]=Norueguês Bokmål
Name[ro]=Norvegiană Bokmål
Name[ru]=Норвежский (литературный)
Name[rw]=Ikibokumali nyanoruveje
Name[se]=Girjedárogiella
Name[sk]=nórsky bokmål
Name[sl]=norveško (Bokmål)
Name[sr]=Норвешки бокмал
Name[sr@Latn]=Norveški bokmal
Name[sv]=Norska Bokmål
Name[te]=నార్విజియన్ బొక్మాల్
Name[tg]=Норвегиягӣ (Бокмалӣ)
Name[th]=ภาษานอร์เวย์ (บ็อคมัล)
Name[tr]=Norveççe Bokmål
Name[tt]=Norvegçä (ädäbi)
Name[uk]=Норвезька (Bokmål)
Name[uz]=Norvegcha Bokmaal
Name[uz@cyrillic]=Норвегча Бокмаал
Name[vi]=Na-uy (Bóc-măn)
Name[wa]=Norvedjin (Bokmål)
Name[zh_CN]=挪威语(博克马尔语)
Name[zh_HK]=書面挪威語
Name[zh_TW]=挪威語 (博克馬爾語)
