[KCM Locale]
Name=Belarusian
Name[ar]=بيلوروسية
Name[az]=Belarusca
Name[be]=Беларуская
Name[bg]=Белоруски
Name[bn]=বেলারুশিয়
Name[br]=Belarusieg
Name[bs]=Bjeloruski
Name[ca]=Bielorús
Name[cs]=Běloruský
Name[csb]=Białorusczi
Name[cy]=Belarwsieg
Name[da]=Hviderussisk
Name[de]=Weißrussisch
Name[el]=Λευκορωσικά
Name[eo]=Bjelorusa
Name[es]=Bieloruso
Name[et]=Valgevene
Name[eu]=Bielorrusiera
Name[fa]=بلاروسی
Name[fi]=Valkovenäjä
Name[fo]=Hvítarussiskt
Name[fr]=Biélorusse
Name[fy]=Wyt-Russysk
Name[ga]=Bealarúisis
Name[gl]=Bielorruso
Name[he]=בלרוסית
Name[hi]=बेलारूसी
Name[hr]=Bjeloruski
Name[hsb]=Běłorusce
Name[hu]=Belorusz
Name[id]=Belarusia
Name[is]=Hvíta-Rússlenska
Name[it]=Bielorusso
Name[ja]=ベラルーシ語
Name[ka]=ბელორუსული
Name[kk]=Белорусша
Name[km]=បេឡារុស្ស
Name[ko]=벨라루스어
Name[ku]=Belarûsî
Name[lb]=Wäissrussesch
Name[lt]=Baltarusių
Name[lv]=Baltkrievu
Name[mk]=Белоруски
Name[mn]=Цагаан орос
Name[mt]=Bjelorussu
Name[nb]=Hviterussisk
Name[nds]=Wittruss'sch
Name[ne]=बेलारूसी
Name[nl]=Witrussisch
Name[nn]=Kviterussisk
Name[nso]=Se-Belarusian
Name[pa]=ਬੇਲਾਰੂਸ
Name[pl]=Białoruski
Name[pt]=Bielorrusso
Name[pt_BR]=Bielo-Russo
Name[ro]=Belarusă
Name[ru]=Белорусский
Name[rw]=Ikibelarusiya
Name[se]=Vilgesruoššagiella
Name[sk]=bieloruština
Name[sl]=belorusko
Name[sq]=Bellorusisht
Name[sr]=Белоруски
Name[sr@Latn]=Beloruski
Name[ss]=Si-Belarusian
Name[sv]=Vitryska
Name[ta]=பெலரூசிய
Name[te]=బెలరుసియన్
Name[tg]=Белорусӣ
Name[th]=ภาษาเบลารุส
Name[tr]=Belarus Dili
Name[tt]=Belarusça
Name[uk]=Білоруська
Name[uz]=Beloruscha
Name[uz@cyrillic]=Белорусча
Name[ven]=Belarushia
Name[vi]=Be-la-ru-xợ
Name[wa]=Bielorûsse
Name[zh_CN]=白俄罗斯语
Name[zh_HK]=白俄羅斯語
Name[zh_TW]=白俄羅斯語
Name[zu]=I Bhelarusi
