[KCM Locale]
Name=Thai
Name[af]=Thaise
Name[ar]=تايلاندية
Name[az]=Tayca
Name[be]=Тайская
Name[bg]=Тайски
Name[bn]=থাই
Name[br]=Tailh
Name[bs]=Tajlandski
Name[cs]=Thajský
Name[csb]=Tajsczi
Name[cy]=Tai
Name[da]=Thailandsk
Name[el]=Ταϊλανδικά
Name[eo]=Taja
Name[es]=Tailandés
Name[et]=Tai
Name[eu]=Thailandiera
Name[fa]=تایلندی
Name[fr]=Thaïlandais
Name[fy]=Taaisk
Name[ga]=Téalainnis
Name[gl]=Tailandés
Name[he]=תאילנדית
Name[hi]=थाई
Name[hsb]=Taisce
Name[hu]=Thaiföldi
Name[id]=Thailand
Name[is]=Tælenska
Name[it]=Thailandese
Name[ja]=タイ語
Name[ka]=ტაი
Name[kk]=Тайша
Name[km]=ថៃ
Name[ko]=타이어
Name[ku]=Tay
Name[lb]=Thailännesch
Name[lt]=Tailandiečių
Name[lv]=Taizemiešu
Name[mk]=Тајландски
Name[mn]=Тай
Name[mt]=Tai
Name[ne]=थाइ
Name[nl]=Thais
Name[nn]=Thailandsk
Name[nso]=Se-Thai
Name[oc]=Tai
Name[pa]=ਥਾਈ
Name[pl]=Tajski
Name[pt]=Tailandês
Name[ro]=Tailandeză
Name[ru]=Тайский
Name[rw]=Igitayi
Name[se]=Thaigiella
Name[sk]=thajčina
Name[sl]=tajsko
Name[sq]=Tajlandisht
Name[sr]=Тајландски
Name[sr@Latn]=Tajlandski
Name[ss]=Si-Thai
Name[sv]=Thailändska
Name[ta]=தாய்
Name[te]=థాయి
Name[tg]=Тайландӣ
Name[th]=ภาษาไทย
Name[tt]=Tayça
Name[uk]=Тайська
Name[uz]=Taycha
Name[uz@cyrillic]=Тайча
Name[ven]=Muthai
Name[vi]=Thái
Name[wa]=Taylandès
Name[zh_CN]=泰语
Name[zh_HK]=泰語
Name[zh_TW]=泰語
Name[zu]=Isi-Thayi
