[KCM Locale]
Name=Catalan
Name[af]=Katelaans
Name[ar]=كاتالانية
Name[az]=Katalanca
Name[be]=Каталонская
Name[bg]=Каталонски
Name[bn]=ক্যাটালান
Name[br]=Katalaneg
Name[bs]=Katalonski
Name[ca]=Català
Name[cs]=Katalánský
Name[csb]=Katalońsczi
Name[cy]=Catalaneg
Name[da]=Catalansk
Name[de]=Katalanisch
Name[el]=Καταλανικά
Name[eo]=Kataluna
Name[es]=Catalán
Name[et]=Katalaani
Name[eu]=Katalaniera
Name[fa]=کاتالان
Name[fi]=Katalaani
Name[fo]=Katalanskt
Name[fy]=Katalaansk
Name[ga]=Catalóinis
Name[gl]=Catalán
Name[he]=קטלונית
Name[hi]=केटॉलन
Name[hr]=Katalonski
Name[hsb]=Katalansce
Name[hu]=Katalán
Name[id]=Katalan
Name[is]=Katalónska
Name[it]=Catalano
Name[ja]=カタロニア語
Name[ka]=კატალონური
Name[kk]=Каталанша
Name[km]=កាតាឡាន
Name[ko]=카탈로니아어
Name[ku]=Katalanî
Name[lb]=Katalanesch
Name[lt]=Katalonų
Name[lv]=Kataloņu
Name[mi]=Reo Peina Raki Räwhiti
Name[mk]=Каталонски
Name[mn]=Каталан
Name[mt]=Katalan
Name[nb]=Katalansk
Name[nds]=Katalaansch
Name[ne]=कातालान
Name[nl]=Catalaans
Name[nn]=Katalansk
Name[nso]=Se-Catalan
Name[pa]=ਕਾਟਾਲਾਨ
Name[pl]=Kataloński
Name[pt]=Catalão
Name[pt_BR]=Catalão
Name[ro]=Catalană
Name[ru]=Каталонский
Name[rw]=Igikatalani
Name[se]=Katalánagiella
Name[sk]=katalánčina
Name[sl]=katalonsko
Name[sq]=Katalaniasht
Name[sr]=Каталонски
Name[sr@Latn]=Katalonski
Name[ss]=Si-Catalan
Name[sv]=Katalanska
Name[ta]=கெடலான்
Name[te]=కెటలన్
Name[tg]=Каталанӣ
Name[th]=ภาษาคาตาลัน
Name[tr]=Katalan Dili
Name[tt]=Katalança
Name[uk]=Каталонська
Name[uz]=Katalancha
Name[uz@cyrillic]=Каталанча
Name[ven]=Khathalani
Name[vi]=Ca-ta-lan
Name[zh_CN]=加泰罗尼亚语
Name[zh_HK]=加泰隆尼亞語
Name[zh_TW]=加泰羅尼亞語
Name[zu]=Isi-Catalan
