.directory
Makefile.in
Makefile
.deps
.libs
*.lo
*.o
*.moc
*.la
configure_command_qt3.sh
configure_command_qt4.sh
build.for.emerge.log
x86_64-pc-linux-gnu-debug/
patchset/

# These gets re-generated each time
# acinclude.m4
# aclocal.m4
# admin/cvs.sh
# admin/ltmain.sh
# config.h.in
# configure

# will insert those into tree if not re-generated
# dcop/dcopidl/dcopidl_output.kidl
# kdeui/kmainwindowiface.kidl
# kdeui/kdetrayproxy/module.kidl
# interfaces/kmediaplayer/playerdcopobject.kidl
# interfaces/kimproxy/library/kimiface.kidl
# interfaces/kimproxy/library/kimproxyiface.kidl
# interfaces/ktexteditor/viewstatusmsgdcopinterface.kidl
# interfaces/ktexteditor/selectionextdcopinterface.kidl
# interfaces/ktexteditor/printdcopinterface.kidl
# interfaces/ktexteditor/searchdcopinterface.kidl
# interfaces/ktexteditor/selectiondcopinterface.kidl
# interfaces/ktexteditor/blockselectiondcopinterface.kidl
# interfaces/ktexteditor/undodcopinterface.kidl
# interfaces/ktexteditor/documentdcopinfo.kidl
# interfaces/ktexteditor/viewcursordcopinterface.kidl
# interfaces/ktexteditor/encodingdcopinterface.kidl
# interfaces/ktexteditor/clipboarddcopinterface.kidl
# interfaces/ktexteditor/editdcopinterface.kidl
# kdeprint/kmfactory.kidl
# kdeprint/kdeprintd.kidl
# arts/knotify/knotify.kidl
# kresources/manageriface.kidl
# kdecore/ksycoca.kidl
# kdecore/kappdcopiface.kidl
# kdecore/kdebugdcopiface.kidl
# kutils/kcmoduleproxyIface.kidl
# kcmshell/main.kidl
# kio/bookmarks/kbookmarknotifier.kidl
# kio/bookmarks/kbookmarkmanager.kidl
# kio/kio/observer.kidl
# kio/kio/uiserver.kidl
# kio/kio/kdirnotify.kidl
# kio/kpasswdserver/kpasswdserver.kidl
# kio/misc/observer.kidl
# kio/misc/kpac/proxyscout.kidl
# kio/misc/kssld/kssld.kidl
# kio/misc/uiserver.kidl
# kio/misc/kwalletd/kwalletd.kidl
# khtml/khtml_iface.kidl
# kwallet/client/kwallet.kidl
# kioslave/http/kcookiejar/kcookieserver.kidl
# kate/part/katedocument.kidl
# kabc/addresseehelper.kidl

# those files are supposedly re-generated from kidl input
interfaces/kimproxy/library/kimiface_stub.cpp
interfaces/kimproxy/library/kimiface_stub.h
interfaces/kimproxy/library/kimproxyiface_skel.cpp
interfaces/kmediaplayer/playerdcopobject_skel.cpp
interfaces/kscript/scriptclientinterface.moc.cpp
interfaces/ktexteditor/blockselectiondcopinterface_skel.cpp
interfaces/ktexteditor/clipboarddcopinterface_skel.cpp
interfaces/ktexteditor/documentdcopinfo_skel.cpp
interfaces/ktexteditor/editdcopinterface_skel.cpp
interfaces/ktexteditor/editorchooser_ui.cpp
interfaces/ktexteditor/editorchooser_ui.h
interfaces/ktexteditor/encodingdcopinterface_skel.cpp
interfaces/ktexteditor/printdcopinterface_skel.cpp
interfaces/ktexteditor/searchdcopinterface_skel.cpp
interfaces/ktexteditor/selectiondcopinterface_skel.cpp 
interfaces/ktexteditor/selectionextdcopinterface_skel.cpp
interfaces/ktexteditor/undodcopinterface_skel.cpp
interfaces/ktexteditor/viewcursordcopinterface_skel.cpp
interfaces/ktexteditor/viewstatusmsgdcopinterface_skel.cpp
arts/knotify/knotify_skel.cpp
dcop/dcopserver.la.cpp
dcop/dcopserver_dummy.cpp
dnssd/settings.cpp
dnssd/settings.h
kabc/addresseehelper_skel.cpp
kate/data/css-php.xml
kate/data/html-php.xml
kate/data/javascript-php.xml
kate/part/dummy.cpp
kate/part/katedocument_skel.cpp
interfaces/ktexteditor/selectiondcopinterface_skel.cpp
kcmshell/kcmshell.la.cpp
kcmshell/kcmshell_dummy.cpp
kcmshell/main_skel.cpp
kconf_update/kconf_update.la.cpp
kconf_update/kconf_update_dummy.cpp
kdecore/fakes_nonpic.c
kdecore/kappdcopiface_skel.cpp
kdecore/kdebugdcopiface_skel.cpp
kdecore/kstartupinfo.cpp.orig
kdecore/ksycoca_skel.cpp
kdecore/netwm.cpp.orig
kdecore/netwm_def.h.orig
kdecore/vsnprintf_nonpic.c
kded/kbuildsycoca.la.cpp
kded/kbuildsycoca_dummy.cpp
kded/kded.la.cpp
kded/kded_dummy.cpp
kdelibs.kdevelop.pcs
kdeprint/cups/cupsdconf2/cupsdconf.la.cpp
kdeprint/cups/cupsdconf2/cupsdconf_dummy.cpp
kdeui/kdetrayproxy/module_skel.cpp
kdeui/kmainwindowiface_skel.cpp
kdeui/kshortcutdialog_advanced.cpp
kdeui/kshortcutdialog_advanced.h
kdeui/kshortcutdialog_simple.cpp
kdeui/kshortcutdialog_simple.h
kdeui/kspellui.cpp
kdeui/kspellui.h
khtml/ecma/domparser.lut.h
khtml/ecma/xmlhttprequest.lut.h
khtml/ecma/xmlserializer.lut.h
khtml/htmlpageinfo.cc
kdeprint/management/kaddprinterwizard.la.cpp
kdeprint/management/kaddprinterwizard_dummy.cpp
kdeui/dummy.cpp
khtml/htmlpageinfo.h
khtml/imgdummy.cpp
khtml/java/dummy/dummy.cpp
khtml/khtml_iface_skel.cc
khtml/kjserrordlg.cc
khtml/kjserrordlg.h
kinit/klauncher.la.cpp
kinit/klauncher_dummy.cpp
kio/bookmarks/kbookmarkmanager_skel.cc
kio/bookmarks/kbookmarknotifier_skel.cc
kio/dummy.cpp
kio/kfile/knotifywidgetbase.cpp
kio/kfile/knotifywidgetbase.h
kio/kfile/kpropertiesdesktopadvbase.cpp
kio/kfile/kpropertiesdesktopadvbase.h
kio/kfile/kpropertiesdesktopbase.cpp
kio/kfile/kpropertiesdesktopbase.h
kio/kfile/kpropertiesmimetypebase.cpp
kio/kfile/kpropertiesmimetypebase.h
kio/kio/kdirlister.cpp.orig
kio/kio/kdirnotify_skel.cpp
kio/kio/krun.cpp.orig
kio/kio/observer_skel.cpp
kio/kio/observer_stub.cpp
kio/kio/observer_stub.h
kio/kio/uiserver_stub.cpp
kio/kio/uiserver_stub.h
kio/kpasswdserver/kpasswdserver_skel.cpp
kio/kssl/keygenwizard.cc
kio/kssl/keygenwizard.h
kio/kssl/keygenwizard2.cc
kio/kssl/keygenwizard2.h
kio/misc/kio_uiserver.la.cpp
kio/misc/kio_uiserver_dummy.cpp
kio/misc/kpac/proxyscout_skel.cpp
kio/misc/kssld/kssld_skel.cpp
kio/misc/kwalletd/kbetterthankdialogbase.cpp
kio/misc/kwalletd/kbetterthankdialogbase.h
kio/misc/kwalletd/kwalletd_skel.cpp
kio/misc/kwalletd/kwalletwizard.cpp
kio/misc/kwalletd/kwalletwizard.h
kio/misc/observer_stub.cpp
kio/misc/observer_stub.h
kio/misc/uiserver_skel.cpp
kioslave/http/kcookiejar/kcookiejar.la.cpp
kioslave/http/kcookiejar/kcookiejar_dummy.cpp
kioslave/http/kcookiejar/kcookieserver_skel.cpp
kioslave/http/kio_http_cache_cleaner.la.cc
kioslave/http/kio_http_cache_cleaner_dummy.cc
kjs/dtoa.cpp.orig
kresources/manageriface_skel.cpp
kresources/manageriface_stub.cpp
kresources/manageriface_stub.h
kspell2/ui/configui.cpp
kspell2/ui/configui.h
kspell2/ui/kspell2ui.cpp
kspell2/ui/kspell2ui.h
kstyles/keramik/keramikrc.h
kstyles/keramik/pics/gui.xcf
kstyles/keramik/pixmaps.keramik
kstyles/qinxclient/config/configdialog.cc
kstyles/qinxclient/config/configdialog.h
kstyles/qinxstyle/config/styledialog.cc
kstyles/qinxstyle/config/styledialog.h
kutils/kcmoduleproxyIface_skel.cpp
kwallet/client/kwallet_skel.cc
kdeprint/kdeprintd_skel.cpp
kdeprint/kmfactory_skel.cpp
