[Desktop Entry]
Charset=utf8
Hidden=false
Keys=ex
Name=Ex.ua
Query[en_US]=http://www.ex.ua/search?s=\\{@}&ie=UTF-8&oe=UTF-8
ServiceTypes=SearchProvider
Type=Service
