[Desktop Entry]
Charset=utf8
Hidden=false
Keys=ggs
Name=Google (Encrypted)
Query[en_US]=https://encrypted.google.com/search?q=\\{@}&ie=UTF-8&oe=UTF-8
ServiceTypes=SearchProvider
Type=Service
