[Desktop Entry]
Charset=utf8
Hidden=false
Keys=yys
Name=Youtube (https)
Query[en_US]=https://www.youtube.com/results?search_query=\\{@}&ie=UTF-8&oe=UTF-8
ServiceTypes=SearchProvider
Type=Service
