[KCM Locale]
Name=Hindi
Name[ar]=هندي
Name[az]=Hindicə
Name[be]=Хіндзі
Name[bg]=Хинди
Name[bn]=হিন্দী
Name[ca]=Hindú
Name[eo]=Hinda
Name[fa]=هندی
Name[fy]=Hindy
Name[ga]=Hiondúis
Name[he]=הינדית
Name[hi]=हिन्दी
Name[hr]=Hinduski
Name[is]=Hindí
Name[ja]=ヒンディー語
Name[ka]=ჰინდი
Name[kk]=Хинди
Name[km]=ហិណ្ឌូ
Name[ko]=힌디어
Name[ku]=Hindî
Name[lv]=Hindu
Name[mk]=Индијски
Name[mn]=Хинди
Name[ne]=हिन्दी
Name[pa]=ਹਿੰਦੀ
Name[pt]=Hindu
Name[ru]=Хинди
Name[rw]=Igihindi
Name[se]=Hindigiella
Name[sk]=hindčina
Name[sl]=hindujsko
Name[sr]=Хинди
Name[ta]=ஹிந்தி
Name[te]=హింది
Name[tg]=Ҳиндӣ
Name[th]=ภาษาฮินดี
Name[tt]=Hindçä
Name[uk]=Хінді
Name[uz]=Hindcha
Name[uz@cyrillic]=Ҳиндча
Name[vi]=Hin-đi
Name[zh_CN]=印地语
Name[zh_HK]=印度語
Name[zh_TW]=印地語

