<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kaffeineplaylist" version="9">
<MenuBar>
	<Menu name="file">
		<Separator/>
		<Action name="file_open_dvd"/>
		<Action name="file_open_vcd"/>
		<Action name="file_open_audiocd"/>
		<Separator/>
	</Menu>
</MenuBar>
<ToolBar name="discToolBar" hidden="true"><text>CD Toolbar</text>
	<Action name="file_open_dvd"/>
	<Action name="file_open_vcd"/>
	<Action name="file_open_audiocd"/>
</ToolBar>
<State name="no_media_part">
<disable>
	<Action name="file_open_dvd"/>
	<Action name="file_open_vcd"/>
	<Action name="file_open_audiocd"/>
</disable>
</State>
</kpartgui>
