[KCM Locale]
Name=Slovak
Name[af]=Slovakiese
Name[ar]=سلوفاكية
Name[az]=Slovakca
Name[be]=Славацкая
Name[bg]=Словашки
Name[bn]=স্লোভাক
Name[br]=Sloveg
Name[bs]=Slovački
Name[ca]=Eslovac
Name[cs]=Slovenský
Name[csb]=Słowacczi
Name[cy]=Slofac
Name[da]=Slovakisk
Name[de]=Slowakisch
Name[el]=Σλοβακικά
Name[eo]=Slovaka
Name[es]=Eslovaco
Name[et]=Slovaki
Name[eu]=Eslovakiera
Name[fa]=اسلواکی
Name[fi]=Slovakki
Name[fo]=Slovakiskt
Name[fr]=Slovaque
Name[fy]=Slovaaks
Name[ga]=Slóvaicis
Name[gl]=Eslovaco
Name[he]=סלובקית
Name[hi]=स्लोवाक
Name[hr]=Slovački
Name[hsb]=Słowaksce
Name[hu]=Szlovák
Name[id]=Slowakia
Name[is]=Slóvaska
Name[it]=Slovacco
Name[ja]=スロバキア語
Name[ka]=სლოვაკური
Name[kk]=Словакша
Name[km]=ស្លូវ៉ាគី
Name[ko]=슬로바키아어
Name[ku]=Slovakî
Name[lb]=Slovakesch
Name[lt]=Slovakų
Name[lv]=Slovāku
Name[mk]=Словачки
Name[mn]=Словак
Name[mt]=Slovakk
Name[nb]=Slovakisk
Name[nds]=Slowaaksch
Name[ne]=स्लोभाकी
Name[nl]=Slowaaks
Name[nn]=Slovakisk
Name[nso]=Se-Slovak
Name[oc]=Eslòvac
Name[pa]=ਸਲੋਵਾਕ
Name[pl]=Słowacki
Name[pt]=Eslovaco
Name[pt_BR]=Eslovaco
Name[ro]=Slovacă
Name[ru]=Словацкий
Name[rw]=Igisilovake
Name[se]=Slovákagiella
Name[sk]=slovenčina
Name[sl]=slovaško
Name[sq]=Sllovakisht
Name[sr]=Словачки
Name[sr@Latn]=Slovački
Name[ss]=Si-Slovak
Name[sv]=Slovakiska
Name[ta]=சுலோவாக்
Name[te]=స్లొవక్
Name[tg]=Словакӣ
Name[th]=ภาษาสโลวัค
Name[tr]=Slovakça
Name[tt]=Slovakça
Name[uk]=Словацька
Name[uz]=Slovakcha
Name[uz@cyrillic]=Словакча
Name[ven]=Musilovaka
Name[vi]=Xlô-vái
Name[wa]=Eslovake
Name[zh_CN]=斯洛伐克语
Name[zh_HK]=斯洛伐克語
Name[zh_TW]=斯洛伐克語
Name[zu]=Isi-Silovaki
