[KCM Locale]
Name=Simplified Chinese
Name[af]=Vereenvoudigde Sjinese
Name[ar]=صينية مبسّطة
Name[az]=Bəsitləşdirilmiş Çincə
Name[be]=Кітайская спрошчаная
Name[bg]=Китайски (опростен)
Name[bn]=সরলীকৃত চৈনিক
Name[br]=Sinaeg eeunaet
Name[bs]=Pojednostavljeni kineski
Name[ca]=Xinès simplificat
Name[cs]=Zjednodušená čínština
Name[csb]=Chińsczi prosti
Name[cy]=Tseineg Syml
Name[da]=Forsimplet kinesisk
Name[de]=Vereinfachtes Chinesisch
Name[el]=Απλοποιημένα κινέζικα
Name[eo]=Ĉina simpligita
Name[es]=Chino simplificado
Name[et]=Lihtsustatud hiina
Name[eu]=Txinatar soildua
Name[fa]=چینی ساده‌شده
Name[fi]=Yksinkertaistettu Kiina
Name[fo]=Einkult kinesiskt
Name[fr]=Chinois simplifié
Name[fy]=Ferienfâldige Sjineesk
Name[ga]=Sínis Shimplithe
Name[gl]=Chinés Simplificado
Name[he]=סינית מופשטת
Name[hi]=सरल चीनी
Name[hr]=Kineski, pojednostavljeni
Name[hsb]=Zjednorjena chinšćina
Name[hu]=Kínai (egyszerűsített)
Name[id]=Cina Sederhana
Name[is]=Einfölduð kínverska
Name[it]=Cinese semplificato
Name[ja]=中国語 簡体字
Name[ka]=გამარტივებული ჩინური
Name[kk]=Жеңілтілген қытайша
Name[km]=ចិនសាមញ្ញ
Name[ko]=중국어 (약식)
Name[ku]=Çîniya Hesankirî
Name[lb]=Einfacht Chinesesch
Name[lt]=Supaprastinta kiniečių
Name[lv]=Vienkāršotā Ķīniešu
Name[mi]=Reo Hainamana Ngäwari
Name[mk]=Поедноставен Кинески
Name[mn]=Хялбар хятад
Name[mt]=Ċiniż Simplifikat
Name[nb]=Kinesisk (forenklet)
Name[nds]=Vereenfacht Chineesch
Name[ne]=सरलीकृत चिनियाँ
Name[nl]=Vereenvoudigd Chinees
Name[nn]=Kinesisk (forenkla)
Name[nso]=Se-China seo se Nolofaditswego
Name[oc]=Chinès simplificat
Name[pa]=ਆਮ ਚੀਨੀ
Name[pl]=Uproszczony chiński
Name[pt]=Chinês Simplificado
Name[pt_BR]=Chinês Simplificado
Name[ro]=Chineză simplificată
Name[ru]=Упрощённый китайский
Name[rw]=Igishinwa cyoroheje
Name[se]=Álkkivduvvon kiinnágiella
Name[sk]=čínština (zjednodušená)
Name[sl]=poenostavljeno kitajsko
Name[sq]=Kinezisht e thjeshtuar
Name[sr]=Поједностављени кинески
Name[sr@Latn]=Pojednostavljeni kineski
Name[ss]=SiShayina lesilula
Name[sv]=Förenklad kinesiska
Name[ta]=இலகு சீனம்
Name[te]=సరళికరించిన చైనీస్
Name[tg]=Хитоӣ (Оддӣ)
Name[th]=ภาษาจีนประยุกต์
Name[tr]=Basitleştirilmiş Çince
Name[tt]=Çinçä (Ciñel)
Name[uk]=Спрощена китайська
Name[uz]=Soddalashtirilgan Xitoycha
Name[uz@cyrillic]=Соддалаштирилган Хитойча
Name[ven]=Mutshaina
Name[vi]=Trung quốc (phổ thông)
Name[wa]=Chinwès simplifyî
Name[zh_CN]=简体中文
Name[zh_HK]=簡體中文
Name[zh_TW]=簡體中文
Name[zu]=Isi-Shayina Esilula
