[KCM Locale]
Name=Ukrainian
Name[af]=Ukraïniese
Name[ar]=أوكرانية
Name[az]=Ukrayna Dili
Name[be]=Украінская
Name[bg]=Украински
Name[bn]=ইউক্রেনীয়
Name[br]=Ukrainiek
Name[bs]=Ukrajinski
Name[ca]=Ucraïnès
Name[cs]=Ukrajinský
Name[csb]=Ùkrajińsczi
Name[cy]=Wcraineg
Name[da]=Ukrainsk
Name[de]=Ukrainisch
Name[el]=Ουκρανικά
Name[eo]=Ukraina
Name[es]=Ucraniano
Name[et]=Ukraina
Name[eu]=Ukrainiera
Name[fa]=اوکراینی
Name[fi]=Ukraina
Name[fo]=Ukrainskt
Name[fr]=Ukrainien
Name[fy]=Oekraïnsk
Name[ga]=Úcráinis
Name[gl]=Ucraíno
Name[he]=אוקראינית
Name[hi]=उक्रेनियाई
Name[hr]=Ukrajinski
Name[hsb]=Ukrainsce
Name[hu]=Ukrán
Name[id]=Ukraina
Name[is]=Úkraínska
Name[it]=Ucraino
Name[ja]=ウクライナ語
Name[ka]=უკრაინული
Name[kk]=Украинша
Name[km]=អ៊ុយក្រែន
Name[ko]=우크라이나어
Name[ku]=Ûkranyayî
Name[lb]=Ukrainesch
Name[lt]=Ukrainiečių
Name[lv]=Ukraiņu
Name[mk]=Украински
Name[mn]=Украйн
Name[ms]=Ukrainia
Name[mt]=Ukranjan
Name[nb]=Ukrainsk
Name[nds]=Ukrainsch
Name[ne]=युक्रेनी
Name[nl]=Oekraïns
Name[nn]=Ukrainsk
Name[nso]=Se-Ukrainian
Name[oc]=Ucranian
Name[pa]=ਯੂਕਰੇਨੀ
Name[pl]=Ukraiński
Name[pt]=Ucraniano
Name[pt_BR]=Ucraniano
Name[ro]=Ucrainiană
Name[ru]=Украинский
Name[rw]=Ikinya-ikarayini
Name[se]=Ukrainagiella
Name[sk]=ukrajinčina
Name[sl]=ukrajinsko
Name[sq]=Ukrainisht
Name[sr]=Украјински
Name[sr@Latn]=Ukrajinski
Name[ss]=Si-Ukrainian
Name[sv]=Ukrainska
Name[ta]=உக்ரேனியம்
Name[te]=ఉక్రెనియన్
Name[tg]=Украинӣ
Name[th]=ภาษายูเครน
Name[tr]=Ukrayna Dili
Name[tt]=Ukrainça
Name[uk]=Українська
Name[uz]=Ukraincha
Name[uz@cyrillic]=Украинча
Name[ven]=Muukuraniene
Name[vi]=U-cợ-rainh
Name[wa]=Oucrinnyin
Name[zh_CN]=乌克兰语
Name[zh_HK]=烏克蘭語
Name[zh_TW]=烏克蘭語
Name[zu]=Isi-Ukranian
