[KCM Locale]
Name=Welsh
Name[af]=Wallies
Name[ar]=ويلزية
Name[az]=Uelscə
Name[be]=Уэльская
Name[bg]=Уелски
Name[bn]=ওয়েল্‌শ
Name[br]=Kembraeg
Name[bs]=Velški
Name[ca]=Galés
Name[cs]=Welšský
Name[csb]=Walijsczi
Name[cy]=Cymraeg
Name[da]=Walisisk
Name[de]=Walisisch
Name[el]=Ουαλικά
Name[eo]=Valisa
Name[es]=Galés
Name[et]=Uelsi
Name[eu]=Galesa
Name[fa]=ولزی
Name[fi]=Kymri
Name[fo]=Valiskt
Name[fr]=Gallois
Name[fy]=Welsk
Name[ga]=Breatnais
Name[gl]=Galés
Name[he]=וולשית
Name[hi]=वेल्श
Name[hr]=Velški
Name[hsb]=Kymrisce
Name[hu]=Walesi
Name[id]=Wales
Name[is]=Velska
Name[it]=Gallese
Name[ja]=ウェールズ語
Name[ka]=უელსური
Name[kk]=Уэлсше
Name[km]=វ៉េល
Name[ko]=웨일스어
Name[ku]=Walîzî
Name[lb]=Wallisesch
Name[lt]=Velsiečių
Name[lv]=Velšu
Name[mk]=Велшки
Name[mn]=Уэльс
Name[ms]=Wales
Name[mt]=Welx
Name[nb]=Walisisk
Name[nds]=Waliessch
Name[ne]=वेल्स
Name[nn]=Walisisk
Name[nso]=Se-Welsh
Name[pa]=ਵਾਲਿਸ਼
Name[pl]=Walijski
Name[pt]=Galês
Name[pt_BR]=Gaulês
Name[ro]=Velşă
Name[ru]=Уэльский
Name[rw]=Ikiwelishi
Name[se]=Walesagiella
Name[sk]=waleština
Name[sl]=valižansko
Name[sq]=Uellsisht
Name[sr]=Велшански
Name[sr@Latn]=Velšanski
Name[ss]=Si-Welsh
Name[sv]=Walesiska
Name[ta]=வெல்ஷ்
Name[te]=వెల్ష్
Name[tg]=Уэлсиявӣ
Name[th]=ภาษาเวลช์
Name[tr]=Galce
Name[tt]=Welşçä
Name[uk]=Уельська
Name[uz]=Uelscha
Name[uz@cyrillic]=Уэлсча
Name[ven]=Muwelishi
Name[vi]=Ouen-s
Name[wa]=Walès
Name[zh_CN]=威尔士
Name[zh_HK]=威爾斯語
Name[zh_TW]=威爾士
Name[zu]=Isi-Welsh
