[KCM Locale]
Name=Breton
Name[ar]=بريتونية
Name[az]=Britanca
Name[be]=Брэтонская
Name[bg]=Бретонски
Name[bn]=ব্রেটন
Name[br]=Brezhoneg
Name[bs]=Bretonski
Name[ca]=Bretó
Name[cs]=Bretonský
Name[csb]=Bretońsczi
Name[cy]=Llydaweg
Name[da]=Bretonsk
Name[de]=Bretonisch
Name[el]=Βρετονικά
Name[eo]=Bretona
Name[es]=Bretón
Name[et]=Bretooni
Name[eu]=Bretoiera
Name[fa]=برتونی
Name[fi]=Bretoni
Name[fo]=Bretonskt
Name[fy]=Bretonsk
Name[ga]=Briotáinis
Name[gl]=Bretón
Name[he]=ברטונית
Name[hi]=ब्रेटॉन
Name[hr]=Bretonski
Name[hsb]=Bretonsce
Name[is]=Bretónska
Name[it]=Bretone
Name[ja]=ブルトン語
Name[ka]=ბრეტონული
Name[kk]=Бретонша
Name[km]=ប្រឺតុង
Name[ko]=브르타뉴어
Name[lb]=Bretonesch
Name[lt]=Bretonų
Name[lv]=Bretoņu
Name[mi]=Reo Parani Uropi-Ïnia
Name[mk]=Бретонски
Name[mn]=Бретон
Name[nb]=Bretonsk
Name[nds]=Bretoonsch
Name[ne]=बेलायती
Name[nl]=Bretons
Name[nn]=Bretonsk
Name[nso]=Se-Breton
Name[oc]=Briton
Name[pa]=ਬਾਰਟਨ
Name[pl]=Bretoński
Name[pt]=Bretão
Name[pt_BR]=Bretão
Name[ro]=Bretonă
Name[ru]=Бретонский
Name[rw]=Ikinyabureto
Name[se]=Bretonagiella
Name[sk]=bretónčina
Name[sl]=bretonsko
Name[sq]=Bretonisht
Name[sr]=Бретонски
Name[sr@Latn]=Bretonski
Name[ss]=Si-Breton
Name[sv]=Bretagniska
Name[ta]=பிரிடான்
Name[te]=బ్రెటన్
Name[tg]=Бритонӣ
Name[th]=ภาษาเบร็ตตัน
Name[tr]=Britanya Dili
Name[tt]=Bretonça
Name[uk]=Бретонська
Name[uz]=Bretoncha
Name[uz@cyrillic]=Бретонча
Name[ven]=Burethoni
Name[vi]=Bợ-re-ton
Name[wa]=Burton
Name[zh_CN]=布里多尼语
Name[zh_HK]=不列塔尼語
Name[zh_TW]=布里多尼語
Name[zu]=Isi-Bretoni
