[KCM Locale]
Name=Latvian
Name[ar]=للاتفية
Name[az]=Latışca
Name[be]=Латышская
Name[bg]=Латвийски
Name[bn]=লাটভিয়ান
Name[br]=Latvieg
Name[bs]=Latvijski
Name[ca]=Letó
Name[cs]=Lotyšský
Name[csb]=Łotewsczi
Name[cy]=Latfieg
Name[da]=Lettisk
Name[de]=Lettisch
Name[el]=Λεττονικά
Name[eo]=Latvia
Name[es]=Letonio
Name[et]=Läti
Name[eu]=Letoniera
Name[fa]=لتونیایی
Name[fi]=Latvia
Name[fo]=Lataviskt
Name[fr]=Letton
Name[fy]=Letsk
Name[ga]=Laitvis
Name[gl]=Letón
Name[he]=לטבית
Name[hi]=लातवियाई
Name[hr]=Latvijski
Name[hsb]=Letisce
Name[hu]=Lett
Name[id]=Latvia
Name[is]=Lettneska
Name[it]=Lettone
Name[ja]=ラトビア語
Name[ka]=ლატვიური
Name[kk]=Латвияша
Name[km]=ឡាតវីយ៉ា
Name[ko]=라트비아어
Name[ku]=Latwî
Name[lb]=Lettesch
Name[lt]=Latvių
Name[lv]=Latviešu
Name[mk]=Латвиски
Name[mn]=Латви
Name[ms]=Latvia
Name[mt]=Latvjan
Name[nb]=Latvisk
Name[nds]=Lettsch
Name[ne]=लाट्भीयन
Name[nl]=Lets
Name[nn]=Latvisk
Name[nso]=Se-Latvian
Name[pa]=ਲਟਵੀਆਈ
Name[pl]=Łotewski
Name[pt]=Letão
Name[pt_BR]=Latvia
Name[ro]=Latviană
Name[ru]=Латышский
Name[rw]=Ikilativiya
Name[se]=Látviagiella
Name[sk]=lotyština
Name[sl]=latvijsko
Name[sq]=Letonisht
Name[sr]=Латвијски
Name[sr@Latn]=Latvijski
Name[ss]=Si-Latvian
Name[sv]=Lettiska
Name[ta]=லட்வியன்
Name[te]=లాతివ్యన్
Name[tg]=Латвиягӣ
Name[th]=ภาษาลัทเวีย
Name[tr]=Litvanya Dili
Name[tt]=Latça
Name[uk]=Латвійська
Name[uz]=Latishcha
Name[uz@cyrillic]=Латишча
Name[ven]=Mulativiene
Name[vi]=Lát-vi
Name[wa]=Letonyin
Name[zh_CN]=拉脱维亚语
Name[zh_HK]=拉脫維亞語
Name[zh_TW]=拉脫維亞
Name[zu]=Isi-Latvian
