[KCM Locale]
Name=Bulgarian
Name[af]=Bulgaars
Name[ar]=بلغارية
Name[az]=Bolqarca
Name[be]=Балгарская
Name[bg]=Български
Name[bn]=বুলগেরিয়
Name[br]=Bulgareg
Name[bs]=Bugarski
Name[ca]=Búlgar
Name[cs]=Bulharský
Name[csb]=Bùlgarsczi
Name[cy]=Bulgareg
Name[da]=Bulgarsk
Name[de]=Bulgarisch
Name[el]=Βουλγαρικά
Name[eo]=Bulgara
Name[es]=Búlgaro
Name[et]=Bulgaaria
Name[eu]=Bulgariera
Name[fa]=بلغاری
Name[fi]=Bulgaria
Name[fo]=Bulgarskt
Name[fr]=Bulgare
Name[fy]=Bulgaarsk
Name[ga]=Bulgáiris
Name[gl]=Búlgaro
Name[he]=בולגרית
Name[hi]=बुल्गारियाई
Name[hr]=Bugarski
Name[hsb]=Bołharsce
Name[hu]=Bolgár
Name[id]=Bulgaria
Name[is]=Búlgarska
Name[it]=Bulgaro
Name[ja]=ブルガリア語
Name[ka]=ბულგარული
Name[kk]=Болғарша
Name[km]=ប៊ុលហ្ការី
Name[ko]=불가리아어
Name[ku]=Bulgarî
Name[lb]=Bulgaresch
Name[lt]=Bulgarų
Name[lv]=Bulgāru
Name[mi]=Reo Purukeria
Name[mk]=Бугарски
Name[mn]=Болгар
Name[ms]=Bulgaria
Name[mt]=Bulgaru
Name[nb]=Bulgarsk
Name[nds]=Bulgaarsch
Name[ne]=बुल्गेरियाली
Name[nl]=Bulgaars
Name[nn]=Bulgarsk
Name[nso]=Se-Bulgarian
Name[oc]=Bulgar
Name[pa]=ਬੁਲਗਾਰੀਆ
Name[pl]=Bułgarski
Name[pt]=Búlgaro
Name[pt_BR]=Búlgaro
Name[ro]=Bulgară
Name[ru]=Болгарский
Name[rw]=Ikinyabulugariya
Name[se]=Bulgáriagiella
Name[sk]=bulharčina
Name[sl]=bolgarsko
Name[sq]=Bullgarisht
Name[sr]=Бугарски
Name[sr@Latn]=Bugarski
Name[ss]=Si-Bulgarian
Name[sv]=Bulgariska
Name[ta]=பல்கேரியன்
Name[te]=బల్గెరియన్
Name[tg]=Булғорӣ
Name[th]=ภาษาบัลแกเรีย
Name[tr]=Bulgarca
Name[tt]=Bulgarça
Name[uk]=Болгарська
Name[uz]=Bolgarcha
Name[uz@cyrillic]=Болгарча
Name[ven]=Mubaligaria
Name[vi]=Bảo-gia-lơi
Name[wa]=Bulgåre
Name[zh_CN]=保加利亚语
Name[zh_HK]=保加利亞語
Name[zh_TW]=保加利亞語
Name[zu]=Isi-Buligariyana
