<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kaffeineplaylist" version="4">
<MenuBar>
	<Menu name="playlist"><text>Play&amp;list</text>
		<Action name="playlist_shuffle"/>
		<Action name="playlist_repeat"/>
		<Action name="playlist_autocover"/>
		<Action name="playlist_showplayer"/>
		<Separator/>
		<Action name="playlist_clear"/>
		<Action name="playlist_new"/>
		<Action name="playlist_load"/>
		<Action name="playlist_save_as"/>
		<Action name="playlist_remove"/>
	</Menu>
</MenuBar>
</kpartgui>
