[KCM Locale]
Name=Punjabi
Name[be]=Панджабі
Name[bg]=Панджаби
Name[bn]=পাঞ্জাবী
Name[ca]=Panjabi
Name[cs]=Pandžábský
Name[csb]=Pendżabsczi
Name[de]=Pandschabi
Name[el]=Αραβικά
Name[eo]=Panĝaba
Name[es]=Punjabí
Name[et]=Pandžabi
Name[eu]=Punjabera
Name[fa]=پنجابی
Name[fi]=Pandžabi
Name[fy]=Punjabysk
Name[ga]=Painseáibis
Name[gl]=Panxabi
Name[he]=פונג'אבי
Name[hi]=पंजाबी
Name[hr]=Pandžabski
Name[hsb]=Pandźabsce
Name[hu]=Pandzsabi
Name[ja]=パンジャーブ語
Name[ka]=პენჯაბი
Name[kk]=Панджаби
Name[km]=ពូនយ៉ាប៊ី
Name[ko]=펀자브어
Name[ku]=Pêncabî
Name[lb]=Pandjabi
Name[lv]=Pandžabu
Name[mk]=Пунџаби
Name[nds]=Pandschaabsch
Name[ne]=पन्जाबी
Name[pa]=ਪੰਜਾਬੀ
Name[pl]=Pundżabi
Name[ru]=Пунджаби
Name[rw]=Igipunijabi
Name[sk]=pandžábčina
Name[sl]=punjabi
Name[sr]=Пенџаби
Name[sr@Latn]=Pendžabi
Name[ta]=பஞ்சாபி
Name[te]=పంజాబి
Name[tg]=Панҷобӣ
Name[th]=ภาษาปัญจาบี
Name[tt]=Punjabça
Name[uk]=Пуньябі
Name[uz]=Panjabcha
Name[uz@cyrillic]=Панжабча
Name[vi]=Pun-gia-bi
Name[wa]=Pundjabi
Name[zh_CN]=旁遮普语
Name[zh_HK]=旁遮普語
Name[zh_TW]=旁遮普語
