[KCM Locale]
Name=Farsi
Name[ar]=فارسية
Name[az]=Farsca
Name[be]=Фарсі
Name[bg]=Фарси
Name[bn]=ফার্সী
Name[br]=Farsieg
Name[csb]=Farsi (persczi)
Name[cy]=Ffarsi
Name[eo]=Persa
Name[es]=Farsí
Name[fa]=فارسی
Name[fy]=Farsysk
Name[ga]=Peirsis
Name[he]=פרסית
Name[hi]=फारसी
Name[hu]=Fárszi
Name[id]=Persia
Name[it]=Farsi (Persiano)
Name[ja]=ペルシア語
Name[ka]=ფარსი
Name[kk]=Фарси
Name[km]=ហ្វារស៊ី
Name[ko]=페르시아어
Name[ku]=Farsî
Name[lv]=Persiešu (Farsi)
Name[mk]=Фарси
Name[mn]=Фарси
Name[nds]=Persisch
Name[ne]=फारसी
Name[nl]=Perzisch
Name[nso]=Se-Farsi
Name[pa]=ਫਾਰਸੀ
Name[pl]=Perski
Name[ro]=Farsă
Name[ru]=Фарси
Name[rw]=Igifarisi
Name[se]=Farsigiella
Name[sk]=perzština
Name[sl]=farsi
Name[sq]=Persisht
Name[sr]=Фарси (персијски)
Name[sr@Latn]=Farsi (persijski)
Name[ss]=Si-Farsi
Name[sv]=Persiska
Name[ta]=ஃபார்ஸி
Name[te]=ఫర్సి
Name[tg]=Форсӣ
Name[th]=ภาษาฟาร์ซี
Name[tr]=Farsça
Name[tt]=Farsıça
Name[uk]=Фарсі
Name[uz]=Forscha
Name[uz@cyrillic]=Форсча
Name[vi]=Pha-xi
Name[wa]=Farsi (Iranyin)
Name[zh_CN]=波斯语
Name[zh_HK]=波斯語
Name[zh_TW]=法爾西語
Name[zu]=Isi-Farsi
