[KCM Locale]
Name=Esperanto
Name[ar]=إسبرانتو
Name[be]=Эспэранта
Name[bg]=Есперанто
Name[bn]=এস্পারান্তো
Name[br]=Esperanteg
Name[eu]=Esperantoa
Name[fa]=اسپرانتور
Name[fr]=Espéranto
Name[he]=אספרנטו
Name[hi]=एस्परेंतो
Name[hu]=Eszperantó
Name[ja]=エスペラント語
Name[ka]=ესპერანტო
Name[kk]=Эсперанто
Name[km]=អេស្ពេរ៉ាន់តូ
Name[ko]=에스페란토
Name[mk]=Есперанто
Name[mn]=Аспиранто
Name[ne]=स्पेरान्तो
Name[nso]=Se-Esperanto
Name[oc]=Esperantò
Name[pa]=ਇਸਪੀਰਾਨਟੋ
Name[ru]=Эсперанто
Name[rw]=Icyesiperanto
Name[se]=Esperantogiella
Name[sk]=esperanto
Name[sl]=esperanto
Name[sr]=Есперанто
Name[ss]=Si-Esperanto
Name[ta]=எஸ்பரான்டோ
Name[te]=ఎస్పరాన్టొ
Name[tg]=Эсперанто
Name[th]=ภาษาเอสเปอร์รันโต
Name[tt]=Esperantoça
Name[uk]=Есперанто
Name[uz@cyrillic]=Эсперанто
Name[ven]=Muesiperato
Name[vi]=Ét-pe-ran-tô
Name[zh_CN]=世界语
Name[zh_HK]=世界語
Name[zh_TW]=世界語
Name[zu]=Isi-Esperanto
