[KCM Locale]
Name=Hungarian
Name[af]=Hongaarse
Name[ar]=مجرية
Name[az]=Macarca
Name[be]=Венгерская
Name[bg]=Унгарски
Name[bn]=হাঙ্গারীয়
Name[br]=Hungareg
Name[bs]=Mađarski
Name[ca]=Hongarès
Name[cs]=Maďarský
Name[csb]=Madżarsczi
Name[cy]=Hwngareg
Name[da]=Ungarsk
Name[de]=Ungarisch
Name[el]=Ουγγρικά
Name[eo]=Hungara
Name[es]=Húngaro
Name[et]=Ungari
Name[eu]=Hungariera
Name[fa]=مجاری
Name[fi]=Unkari
Name[fo]=Ungarskt
Name[fr]=Hongrois
Name[fy]=Hongaarsk
Name[ga]=Ungáiris
Name[gl]=Húngaro
Name[he]=הונגרית
Name[hi]=हंगरी
Name[hr]=Mađarski
Name[hsb]=Madźarsce
Name[hu]=Magyar
Name[id]=Hungaria
Name[is]=Ungverska
Name[it]=Ungherese
Name[ja]=ハンガリー語
Name[ka]=უნგრული
Name[kk]=Мажарша
Name[km]=ហុងគ្រី
Name[ko]=헝가리어
Name[ku]=Macarî
Name[lb]=Ungaresch
Name[lt]=Vengrų
Name[lv]=Ungāru
Name[mi]=Reo Hanekari
Name[mk]=Унгарски
Name[mn]=Унгар
Name[ms]=Hungary
Name[mt]=Ungeriż
Name[nb]=Ungarsk
Name[nds]=Ungaarsch
Name[ne]=हङ्गेरियाली
Name[nl]=Hongaars
Name[nn]=Ungarsk
Name[nso]=Se-Hungarian
Name[oc]=Hongarian
Name[pa]=ਹੰਗਰੀਆਈ
Name[pl]=Węgierski
Name[pt]=Húngaro
Name[pt_BR]=Húngaro
Name[ro]=Maghiară
Name[ru]=Венгерский
Name[rw]=Ikinyahangariya
Name[se]=Ungárgiella
Name[sk]=maďarčina
Name[sl]=madžarsko
Name[sq]=Hungarisht
Name[sr]=Мађарски
Name[sr@Latn]=Mađarski
Name[ss]=Si-Hungarian
Name[sv]=Ungerska
Name[ta]=அங்கேரியன்
Name[te]=హంగెరియన్
Name[tg]=Венгерӣ
Name[th]=ภาษาฮังกาเรียน
Name[tr]=Macarca
Name[tt]=Macarça
Name[uk]=Угорська
Name[uz]=Vengrcha
Name[uz@cyrillic]=Венгрча
Name[ven]=Muhangari
Name[vi]=Hung-gia-lợi
Name[wa]=Hongrwès
Name[zh_CN]=匈牙利语
Name[zh_HK]=匈牙利語
Name[zh_TW]=匈牙利語
Name[zu]=Isi-Hangarian
