<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="dummy_part" version="1">
<MenuBar>
  <Menu name="player"><text>&amp;Player</text>
    <Action name="player_play"/>
    <Action name="player_pause"/>
    <Action name="player_stop"/> 
  </Menu>
</MenuBar>
</kpartgui>  