[KCM Locale]
Name=Russian
Name[af]=Russiese
Name[ar]=روسية
Name[az]=Rusca
Name[be]=Расійская
Name[bg]=Руски
Name[bn]=রুশ
Name[br]=Rusianeg
Name[bs]=Ruski
Name[ca]=Rus
Name[cs]=Ruský
Name[csb]=Rusczi
Name[cy]=Rwsieg
Name[da]=Russisk
Name[de]=Russisch
Name[el]=Ρωσικά
Name[eo]=Rusa
Name[es]=Ruso
Name[et]=Vene
Name[eu]=Errusiera
Name[fa]=روسی
Name[fi]=Venäjä
Name[fo]=Russiskt
Name[fr]=Russe
Name[fy]=Russysk
Name[ga]=Rúisis
Name[gl]=Ruso
Name[he]=רוסית
Name[hi]=रूसी
Name[hr]=Ruski
Name[hsb]=Rusce
Name[hu]=Orosz
Name[id]=Russia
Name[is]=Rússneska
Name[it]=Russo
Name[ja]=ロシア語
Name[ka]=რუსული
Name[kk]=Орысша
Name[km]=រុស្សី
Name[ko]=러시아어
Name[ku]=Rûsî
Name[lb]=Russesch
Name[lt]=Rusų
Name[lv]=Krievu
Name[mi]=Reo Ruhia
Name[mk]=Руски
Name[mn]=Орос
Name[ms]=Russia
Name[mt]=Russu
Name[nb]=Russisk
Name[nds]=Russ'sch
Name[ne]=रसियाली
Name[nl]=Russisch
Name[nn]=Russisk
Name[nso]=Se-Russian
Name[oc]=Rus
Name[pa]=ਰੂਸੀ
Name[pl]=Rosyjski
Name[pt]=Russo
Name[pt_BR]=Russo
Name[ro]=Rusă
Name[ru]=Русский
Name[rw]=Ikirusiya
Name[se]=Ruoššagiella
Name[sk]=ruština
Name[sl]=rusko
Name[sq]=Rusisht
Name[sr]=Руски
Name[sr@Latn]=Ruski
Name[ss]=SiRashiya
Name[sv]=Ryska
Name[ta]=ரஷ்யம்
Name[te]=రషియన్
Name[tg]=Русӣ
Name[th]=ภาษารัสเซีย
Name[tr]=Rusça
Name[tt]=Urısça
Name[uk]=Російська
Name[uz]=Ruscha
Name[uz@cyrillic]=Русча
Name[ven]=Murashia
Name[vi]=Nga
Name[wa]=Rûsse
Name[zh_CN]=俄语
Name[zh_HK]=俄語
Name[zh_TW]=俄語
Name[zu]=Isi-Rashiyani
DateMonthNamePossessive=true
NounDeclension=true
