<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kaffeinedvb" version="5">
<MenuBar>
  <Menu name="dvb"><text>&amp;DVB</text>
    <Action name="dvb_show_osd"/>
    <Action name="dvb_browse_next" />
    <Action name="dvb_browse_prev" />
    <Action name="dvb_browse_zap" />
    <Action name="dvb_browse_advance" />
    <Action name="dvb_browse_retreat" />
    <Separator/>
    <Action name="dvb_instant_record"/>
    <Separator/>
    <Action name="dvb_recall"/>
    <Separator/>
    <Action name="dvb_show_epg"/>
    <Action name="dvb_show_timers"/>
    <Action name="dvb_show_broadcast"/>
    <Separator/>
    <Action name="dvb_channels"/>
    <Action name="dvb_config"/>
  </Menu>
</MenuBar>
</kpartgui>
