[KCM Locale]
Name=Danish
Name[af]=Deens
Name[ar]=دانيماركية
Name[az]=Danimarka Dili
Name[be]=Дацкая
Name[bg]=Датски
Name[bn]=ড্যানিশ
Name[br]=Daneg
Name[bs]=Danski
Name[ca]=Danès
Name[cs]=Dánský
Name[csb]=Dëńsczi
Name[cy]=Daneg
Name[da]=Dansk
Name[de]=Dänisch
Name[el]=Δανέζικα
Name[eo]=Dana
Name[es]=Danés
Name[et]=Taani
Name[eu]=Daniera
Name[fa]=دانمارکی
Name[fi]=Tanska
Name[fo]=Danskt
Name[fr]=Danois
Name[fy]=Deensk
Name[ga]=Danmhairgis
Name[gl]=Dinamarqués
Name[he]=דנית
Name[hi]=डेनिश
Name[hr]=Danski
Name[hsb]=Dansce
Name[hu]=Dán
Name[id]=Denmark
Name[is]=Danska
Name[it]=Danese
Name[ja]=デンマーク語
Name[ka]=დანიური
Name[kk]=Датша
Name[km]=ដាណឺម៉ាក
Name[ko]=덴마크어
Name[ku]=Danemarkî
Name[lb]=Dänesch
Name[lt]=Danų
Name[lv]=Dāņu
Name[mi]=Reo Tenemaka
Name[mk]=Дански
Name[mn]=Дани
Name[mt]=Daniż
Name[nb]=Dansk
Name[nds]=Däänsch
Name[ne]=डेनिश
Name[nl]=Deens
Name[nn]=Dansk
Name[nso]=Se-Danish
Name[oc]=Danès
Name[pa]=ਡੈਨਿਸ਼
Name[pl]=Duński
Name[pt]=Dinamarquês
Name[pt_BR]=Dinamarquês
Name[ro]=Daneză
Name[ru]=Датский
Name[rw]=Ikidanwa
Name[se]=Dánskkagiella
Name[sk]=dánčina
Name[sl]=dansko
Name[sq]=Danisht
Name[sr]=Дански
Name[sr@Latn]=Danski
Name[ss]=Si-Danish
Name[sv]=Danska
Name[ta]=டேனிஷ்
Name[te]=డెనిష్
Name[tg]=Даниягӣ
Name[th]=ภาษาเดนมาร์ก
Name[tr]=Danimarka Dili
Name[tt]=Dança
Name[uk]=Датська
Name[uz]=Daniyacha
Name[uz@cyrillic]=Данияча
Name[ven]=Mudenishi
Name[vi]=Dan-mạch
Name[wa]=Daenwès
Name[zh_CN]=丹麦语
Name[zh_HK]=丹麥語
Name[zh_TW]=丹麥語
Name[zu]=Isi-Danishi
