[KCM Locale]
Name=Spanish
Name[af]=Spaanse
Name[ar]=إسبانية
Name[az]=İspanca
Name[be]=Іспанская
Name[bg]=Испански
Name[bn]=স্প্যানিশ
Name[br]=Spagnoleg
Name[bs]=Španski
Name[ca]=Espanyol
Name[cs]=Španělský
Name[csb]=Szpańsczi
Name[cy]=Sbaeneg
Name[da]=Spansk
Name[de]=Spanisch
Name[el]=Ισπανικά
Name[eo]=Hispana
Name[es]=Español
Name[et]=Hispaania
Name[eu]=Espainiera
Name[fa]=اسپانیایی
Name[fi]=Espanja
Name[fo]=Spanskt
Name[fr]=Espagnol
Name[fy]=Spaansk
Name[ga]=Spáinnis
Name[gl]=Castellano
Name[he]=ספרדית
Name[hi]=स्पेनी
Name[hr]=Španjolski
Name[hsb]=Španisce
Name[hu]=Spanyol
Name[id]=Spanyol
Name[is]=Spænska
Name[it]=Spagnolo
Name[ja]=スペイン語
Name[ka]=ესპანური
Name[kk]=Испанша
Name[km]=អេស្ប៉ាញ
Name[ko]=스페인어
Name[ku]=Spanî
Name[lb]=Spuenesch
Name[lt]=Ispanų
Name[lv]=Spāņu
Name[mi]=Reo Peina
Name[mk]=Шпански
Name[mn]=Испани
Name[ms]=Sepanyol
Name[mt]=Spanjol
Name[nb]=Spansk
Name[nds]=Spaansch
Name[ne]=स्पेनिश
Name[nl]=Spaans
Name[nn]=Spansk
Name[nso]=Se-Spanish
Name[oc]=Espanhòl
Name[pa]=ਸਪੇਨੀ
Name[pl]=Hiszpański
Name[pt]=Espanhol
Name[pt_BR]=Espanhol
Name[ro]=Spaniolă
Name[ru]=Испанский
Name[rw]=Igisipanyole
Name[se]=Spánskkagiella
Name[sk]=španielčina
Name[sl]=špansko
Name[sq]=Spanjisht
Name[sr]=Шпански
Name[sr@Latn]=Španski
Name[ss]=Spanishi
Name[sv]=Spanska
Name[ta]=ஸ்பானியம்
Name[te]=స్పెనిష్
Name[tg]=Испанӣ
Name[th]=ภาษาสเปน
Name[tr]=İspanyolca
Name[tt]=İspança
Name[uk]=Іспанська
Name[uz]=Ispancha
Name[uz@cyrillic]=Испанча
Name[ven]=Musipenishi
Name[vi]=Tây-ban-nha
Name[wa]=Castiyan
Name[xh]=isipanishi
Name[zh_CN]=西班牙语
Name[zh_HK]=西班牙語
Name[zh_TW]=西班牙語
Name[zu]=Isi-Panishi
