[Desktop Entry]
ServiceTypes=inode/directory
Actions=kaffeine_open_dir;
Encoding=UTF-8

[Desktop Action kaffeine_open_dir]
Name=Open with Kaffeine
Name[af]=Maak met Kaffeine oop
Name[ar]=أفتح مستخدما Kaffeine
Name[bg]=Отваряне с Kaffeine
Name[bn]=ক্যাফিন দিয়ে খোলো
Name[br]=Digeriñ gant Kaffeine
Name[ca]=Obre amb Kaffeine
Name[cs]=Otevřít v Kaffeine
Name[da]=Åbn med Kaffeine
Name[de]=Mit Kaffeine öffnen
Name[el]=Άνοιγμα με το Kaffeine
Name[es]=Abrir con Kaffeine
Name[et]=Ava Kaffeine'is
Name[fi]=Avaa Kaffeinessa
Name[fr]=Ouvrir avec Kaffeine
Name[ga]=Oscail le Kaffeine
Name[gl]=Abrir con Kaffeine
Name[he]=פתח עם Kaffeine
Name[hu]=Megnyitás a Kaffeine-nel
Name[is]=Opna með Kaffeine
Name[it]=Apri con Kaffeine
Name[ja]=Kaffeine で開く
Name[ka]=Kaffeine-ით გახსნა
Name[km]=បើក​ជាមួយ Kaffeine
Name[lt]=Atverti su Kaffeine
Name[nb]=Åpne med Kaffeine
Name[nl]=Openen met Kaffeine
Name[nn]=Opna med Kaffeine
Name[pa]=ਕੈਫ਼ੀਨ ਨਾਲ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz w Kaffeine
Name[pt]=Abrir com o Kaffeine
Name[pt_BR]=Abrir com o Kaffeine
Name[se]=Raba Kaffeineain
Name[sr]=Отвори Kaffeine-ом
Name[sr@Latn]=Otvori Kaffeine-om
Name[sv]=Öppna med Kaffeine
Name[tg]=Кушодан бо Kaffeine
Name[th]=เปิดด้วย Kaffeine
Name[tr]=Kaffeine ile aç
Name[uk]=Відкрити з Kaffeine
Name[xx]=xxOpen with Kaffeinexx
Name[zh_CN]=用 Kaffeine 打开
Name[zh_TW]=以 Kaffeine 開啟
Exec=kaffeine %U
Icon=kaffeine
