[Desktop Entry]
ServiceTypes=media/dvdvideo
Actions=Play;
Encoding=UTF-8
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play DVD with Kaffeine
Name[af]=Speel DVD met Kaffeiene
Name[ar]=قراءة قرص رقمي مرئي بواسطة Kaffeine
Name[bg]=Изпълнение на DVD с Kaffeine
Name[bn]=ক্যাফিন দিয়ে ডিভিডি চালাও
Name[br]=Seniñ an DVD gant Kaffeine
Name[ca]=Reprodueix DVD amb Kaffeine
Name[cs]=Přehrát DVD v Kaffeine
Name[da]=Spil dvd med Kaffeine
Name[de]=DVD mit Kaffeine abspielen
Name[el]=Αναπαραγωγή DVD με το Kaffeine
Name[es]=Reproducir DVD con Kaffeine
Name[et]=Esita DVD Kaffeine'is
Name[fi]=Toista dvd-levy Kaffeinessa
Name[fr]=Lire le DVD avec Kaffeine
Name[ga]=Seinn DVD le Kaffeine
Name[gl]=Ver o DVD con Kaffeine
Name[he]=נגן תקליטור DVD עם Kaffeine
Name[hu]=DVD lejátszása a Kaffeine-nel
Name[is]=Spila DVD með Kaffeine
Name[it]=Riproduci DVD con Kaffeine
Name[ja]=Kaffeine で DVD を再生
Name[ka]=DVD-ის დაკვრა Kaffeine-ით
Name[km]=ចាក់​ឌីវីឌី​ជាមួយ Kaffeine
Name[lt]=Groti DVD su Kaffeine
Name[nb]=Spill DVD med Kaffeine
Name[nl]=DVD met Kaffeine afspelen
Name[nn]=Spel DVD med Kaffeine
Name[pa]=ਕੈਫ਼ੀਨ ਨਾਲ DVD ਚਲਾਓ
Name[pl]=Odtwarzaj DVD w Kaffeine
Name[pt]=Ver o DVD com o Kaffeine
Name[pt_BR]=Reproduzir o DVD com o Kaffeine
Name[se]=Čuojat DVD:a Kaffeineain
Name[sr]=Пусти DVD Kaffeine-ом
Name[sr@Latn]=Pusti DVD Kaffeine-om
Name[sv]=Spela dvd med Kaffeine
Name[tg]=Намоиши DVD бо Kaffeine
Name[th]=เล่นดีวีดีด้วย Kaffeine
Name[tr]=DVD'yi Kaffeine ile oynat
Name[uk]=Програти DVD з Kaffeine
Name[xx]=xxPlay DVD with Kaffeinexx
Name[zh_CN]=用 Kaffeine 播放 DVD
Name[zh_TW]=使用 Kaffeine 播放 DVD
Icon=kaffeine
Exec=kaffeine -d %u DVD
