[Desktop Entry]
ServiceTypes=media/svcd,media/vcd
Actions=Play;
Encoding=UTF-8
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play VCD with Kaffeine
Name[af]=Speel VCD met Kaffeine
Name[ar]= قراءة قرص مدمج مرئي VCD بواسطة  Kaffeine
Name[bg]=Изпълнение на VCD с Kaffeine
Name[bn]=ক্যাফিন দিয়ে ভিসিডি চালাও
Name[br]=Seniñ ar VCD gant Kaffeine
Name[ca]=Reprodueix VCD amb Kaffeine
Name[cs]=Přehrát VCD v Kaffeine
Name[da]=Spil vcd med Kaffeine
Name[de]=VCD mit Kaffeine abspielen
Name[el]=Αναπαραγωγή VCD με το Kaffeine
Name[es]=Reproducir VCD con Kaffeine
Name[et]=Esita VCD Kaffeine'is
Name[fi]=Toista videocd-levy Kaffeinessa
Name[fr]=Lire le VCD avec Kaffeine
Name[ga]=Seinn VCD le Kaffeine
Name[gl]=Ver o VCD con Kaffeine
Name[he]=נגן תקליטור VCD עם Kaffeine
Name[hu]=VCD lejátszása a Kaffeine-nel
Name[is]=Spila VCD með Kaffeine
Name[it]=Riproduci VCD con Kaffeine
Name[ja]=Kaffeine で VCD を再生
Name[ka]=VCD-ის დაკვრა Kaffeine-ით
Name[km]=ចាក់​វីស៊ីឌី​ជា​មួយ Kaffeine
Name[lt]=Groti VCD su Kaffeine
Name[nb]=Spill VCD med Kaffeine
Name[nl]=VCD met Kaffeine afspelen
Name[nn]=Spel VCD med Kaffeine
Name[pa]=ਕੈਫ਼ੀਨ ਨਾਲ VCD ਚਲਾਓ
Name[pl]=Odtwarzaj VCD w Kaffeine
Name[pt]=Ver o VCD com o Kaffeine
Name[pt_BR]=Reproduzir o VCD com o Kaffeine
Name[se]=Čuojat VCD:a Kaffeineain
Name[sr]=Пусти VCD Kaffeine-ом
Name[sr@Latn]=Pusti VCD Kaffeine-om
Name[sv]=Spela vcd med Kaffeine
Name[tg]=Намоиши VCD бо Kaffeine
Name[th]=เล่นวิดีโอซีดีด้วย Kaffeine
Name[tr]=CD'yi Kaffeine ile oynat
Name[uk]=Програти VCD з Kaffeine
Name[xx]=xxPlay VCD with Kaffeinexx
Name[zh_CN]=用 Kaffeine 播放 VCD
Name[zh_TW]=使用 Kaffeine 播放 VCD
Icon=kaffeine
Exec=kaffeine -d %u VCD
