[KCM Locale]
Name=Lithuanian
Name[af]=Lithuaniese
Name[ar]=ليتوانية
Name[az]=Litovca
Name[be]=Літоўская
Name[bg]=Литовски
Name[bn]=লিথুয়েনীয়
Name[br]=Lituaneg
Name[bs]=Litvanski
Name[ca]=Lituà
Name[cs]=Litevský
Name[csb]=Litewsczi
Name[cy]=Lithwaneg
Name[da]=Litauisk
Name[de]=Litauisch
Name[el]=Λιθουανικά
Name[eo]=Litova
Name[es]=Lituano
Name[et]=Leedu
Name[eu]=Lituaniera
Name[fa]=لیتوانیایی
Name[fi]=Liettua
Name[fo]=Lituanskt
Name[fr]=Lituanien
Name[fy]=Litouwsk
Name[ga]=Liotuáinis
Name[gl]=Lituano
Name[he]=ליטאית
Name[hi]=लिथुआनियाई
Name[hr]=Litvanski
Name[hsb]=Litawsce
Name[hu]=Litván
Name[id]=Lithuania
Name[is]=Litháíska
Name[it]=Lituano
Name[ja]=リトアニア語
Name[ka]=ლიტვური
Name[kk]=Литваша
Name[km]=លីទុយអានី
Name[ko]=리투아니아어
Name[ku]=Lîtwanî
Name[lb]=Litauesch
Name[lt]=Lietuvių
Name[lv]=Lietuviešu
Name[mk]=Литвански
Name[mn]=Литва
Name[ms]=Lithuania
Name[mt]=Litwanjan
Name[nb]=Litauisk
Name[nds]=Litausch
Name[ne]=लिथुनियाली
Name[nl]=Litouws
Name[nn]=Litauisk
Name[nso]=Se-Lithuanian
Name[oc]=Litua
Name[pa]=ਲੀਥੂਨੀਆਈ
Name[pl]=Litewski
Name[pt]=Lituano
Name[pt_BR]=Lituano
Name[ro]=Lituaniană
Name[ru]=Литовский
Name[rw]=Ikinyalitwani
Name[se]=Lietuvagiella
Name[sk]=litovčina
Name[sl]=litvansko
Name[sq]=Lituanisht
Name[sr]=Литвански
Name[sr@Latn]=Litvanski
Name[ss]=Si-Lithuanian
Name[sv]=Litauiskt
Name[ta]=லிதுவேனியன்
Name[te]=లితువెనియన్
Name[tg]=Литвиягӣ
Name[th]=ภาษาลิธัวเนีย
Name[tr]=Litvanya Dili
Name[tt]=Litçä
Name[uk]=Литовська
Name[uz]=Litvacha
Name[uz@cyrillic]=Литвача
Name[ven]=Muluthaniene
Name[vi]=Li-tu-a-ni
Name[wa]=Litwanyin
Name[zh_CN]=立陶宛语
Name[zh_HK]=立陶宛語
Name[zh_TW]=立陶宛語
Name[zu]=Isi-Lithuanian
