[KCM Locale]
Name=Polish
Name[af]=Poolse
Name[ar]=بولندية
Name[az]=Polyakca
Name[be]=Польская
Name[bg]=Полски
Name[bn]=পোলিশ
Name[br]=Poloneg
Name[bs]=Poljski
Name[ca]=Polonès
Name[cs]=Polský
Name[csb]=Pòlsczi
Name[cy]=Poleg
Name[da]=Polsk
Name[de]=Polnisch
Name[el]=Πολωνικά
Name[eo]=Pola
Name[es]=Polaco
Name[et]=Poola
Name[eu]=Poloniera
Name[fa]=لهستانی
Name[fi]=Puola
Name[fo]=Pólskt
Name[fr]=Polonais
Name[fy]=Poalsk
Name[ga]=Polainnis
Name[gl]=Polaco
Name[he]=פולנית
Name[hi]=पॉलिश
Name[hr]=Poljski
Name[hsb]=Pólsce
Name[hu]=Lengyel
Name[is]=Pólska
Name[it]=Polacco
Name[ja]=ポーランド語
Name[ka]=პოლონური
Name[kk]=Полякша
Name[km]=ប៉ូឡូញ
Name[ko]=폴란드어
Name[ku]=Polî
Name[lb]=Polnesch
Name[lt]=Lenkų
Name[lv]=Poļu
Name[mi]=Reo Pörana
Name[mk]=Полски
Name[mn]=Польш
Name[mt]=Pollakk
Name[nb]=Polsk
Name[nds]=Poolsch
Name[ne]=पोलिश
Name[nl]=Pools
Name[nn]=Polsk
Name[nso]=Se-Polish
Name[oc]=Pòlònès
Name[pa]=ਪੋਲੈਂਡੀ
Name[pl]=Polski
Name[pt]=Polaco
Name[pt_BR]=Polonês
Name[ro]=Poloneză
Name[ru]=Польский
Name[rw]=Ikinyapolonye
Name[se]=Polskkagiella
Name[sk]=poľština
Name[sl]=poljsko
Name[sq]=Polonisht
Name[sr]=Пољски
Name[sr@Latn]=Poljski
Name[ss]=Si-Polish
Name[sv]=Polska
Name[ta]=போலிஷ்
Name[te]=పొలిష్
Name[tg]=Полякӣ
Name[th]=ภาษาโปลิช
Name[tr]=Lehçe
Name[tt]=Polça
Name[uk]=Польська
Name[uz]=Polyakcha
Name[uz@cyrillic]=Полякча
Name[ven]=Mupholishi
Name[vi]=Ba-lan
Name[wa]=Polonès
Name[zh_CN]=波兰语
Name[zh_HK]=波蘭語
Name[zh_TW]=波蘭語
Name[zu]=Isi-Pholishi
