[KCM Locale]
Name=Bengali
Name[ar]=بنغالي
Name[az]=Bengalca
Name[be]=Бенгальская
Name[bg]=Бенгали
Name[bn]=বাংলা
Name[br]=Bangali
Name[bs]=Bengalski
Name[ca]=Bengalí
Name[cs]=Bengálský
Name[csb]=Bengalsczi
Name[cy]=Bengaleg
Name[eo]=Bengala
Name[es]=Bengalí
Name[eu]=Bengalera
Name[fa]=بنگالی
Name[fr]=Bengalî
Name[fy]=Bengaalsk
Name[ga]=Beangáilis
Name[he]=בנגאלי
Name[hi]=बंगाली
Name[hr]=Bengalski
Name[hu]=Bengáli
Name[it]=Bengalese
Name[ja]=ベンガル語
Name[ka]=ბენგალი
Name[kk]=Бенгалша
Name[km]=បេន្កាលី
Name[ko]=벵골어
Name[ku]=Bengalî
Name[lb]=Bengalesch
Name[lt]=Bengalų
Name[lv]=Bengāļu
Name[mk]=Бенгали
Name[mn]=Бенгали
Name[nds]=Bengaalsch
Name[ne]=बङ्गाली
Name[nl]=Bengaals
Name[pa]=ਬੰਗਾਲੀ
Name[pl]=Bengalski
Name[ru]=Бенгали
Name[rw]=Ikibengali
Name[se]=Bengaligiella
Name[sk]=bengálčina
Name[sl]=bengalsko
Name[sr]=Бенгалски
Name[sr@Latn]=Bengalski
Name[ta]=பெங்காலி
Name[te]=బెంగాలి
Name[tg]=Бенгалӣ
Name[th]=ภาษาเบ็งกาลี
Name[tr]=Bengalce
Name[tt]=Bengalça
Name[uk]=Бенгальська
Name[uz]=Bengalcha
Name[uz@cyrillic]=Бенгалча
Name[vi]=Ben-ga-li
Name[zh_CN]=孟加拉语
Name[zh_HK]=孟加拉語
Name[zh_TW]=孟加拉語
