[KCM Locale]
Name=Irish
Name[af]=Ierse
Name[ar]=إيرلندية
Name[az]=İrlandca
Name[be]=Ірландская
Name[bg]=Ирландски
Name[bn]=আইরিশ
Name[br]=Iwerzhoneg
Name[bs]=Irski
Name[ca]=Irlandès
Name[cs]=Irský
Name[csb]=Irlandzczi
Name[cy]=Gwyddeleg
Name[da]=Irsk
Name[de]=Irisch (Gälisch)
Name[el]=Ιρλανδικά
Name[eo]=Irlanda
Name[es]=Irlandés
Name[et]=Iiri
Name[eu]=Irlandera
Name[fa]=ایرلندی
Name[fi]=Iiri
Name[fo]=Írskt
Name[fr]=Irlandais
Name[fy]=Iersk
Name[ga]=Gaeilge
Name[gl]=Irlandés
Name[he]=אירית
Name[hi]=आइरिश
Name[hr]=Irski
Name[hsb]=Irsce
Name[hu]=Ír
Name[id]=Irlandia
Name[is]=Írska
Name[it]=Irlandese
Name[ja]=アイルランド語
Name[ka]=ირლანდიური
Name[kk]=Ирландша
Name[km]=អៀរឡង់
Name[ko]=아일랜드어
Name[ku]=Îrlandayî
Name[lb]=Iresch
Name[lt]=Airių
Name[lv]=Īru
Name[mi]=Reo Airana
Name[mk]=Ирски
Name[mn]=Ирланд
Name[mt]=Irlandiż
Name[nb]=Irsk
Name[nds]=Irsch
Name[ne]=आइरिस
Name[nl]=Iers
Name[nn]=Irsk
Name[nso]=Se-Irish
Name[oc]=Irlandès
Name[pa]=ਆਈਰਸ਼ੀ
Name[pl]=Irlandzki
Name[pt]=Irlandês
Name[pt_BR]=Irlandês
Name[ro]=Irlandeză
Name[ru]=Ирландский
Name[rw]=Ikinyirilande
Name[se]=Irlánddagiella
Name[sk]=írčina
Name[sl]=irsko
Name[sq]=Irlandisht
Name[sr]=Ирски
Name[sr@Latn]=Irski
Name[ss]=Si-Irish
Name[sv]=Iriska
Name[ta]=ஐரிஷ்
Name[te]=ఐరిష్
Name[tg]=Ирландӣ
Name[th]=ภาษาไอร์ริช
Name[tr]=İrlanda Dili
Name[tt]=İrişçä
Name[uk]=Ірландська
Name[uz]=Irlandcha
Name[uz@cyrillic]=Ирландча
Name[ven]=Muarishi
Name[vi]=Ái-nhĩ-lan
Name[wa]=Irlandès
Name[zh_CN]=爱尔兰语
Name[zh_HK]=愛爾蘭語
Name[zh_TW]=愛爾蘭語
Name[zu]=Isi-Irishi
