[KCM Locale]
Name=Bosnian
Name[af]=Bosnise
Name[ar]=بوسنية
Name[az]=Bosniya Dili
Name[be]=Баснійская
Name[bg]=Босненски
Name[bn]=বসনীয়
Name[br]=Bosnieg
Name[bs]=Bosanski
Name[ca]=Bósni
Name[cs]=Bosenský
Name[csb]=Bósniany
Name[cy]=Bosnieg
Name[da]=Bosnisk
Name[de]=Bosnisch
Name[el]=Βοσνιακά
Name[eo]=Bosnia
Name[es]=Bosnio
Name[et]=Bosnia
Name[eu]=Bosniera
Name[fa]=بوسنیایی
Name[fi]=Bosnia
Name[fo]=Bosniskt
Name[fr]=Bosniaque
Name[fy]=Bosnysk
Name[ga]=Boisnis
Name[gl]=Bósnio
Name[he]=בוסנית
Name[hi]=बोस्नियाई
Name[hr]=Bošnjački
Name[hsb]=Bosnisce
Name[hu]=Bosnyák
Name[id]=Bosnia
Name[is]=Bosníska
Name[it]=Bosniaco
Name[ja]=ボスニア語
Name[ka]=ბოსნიური
Name[kk]=Боснийша
Name[km]=បូស្នី
Name[ko]=보스니아어
Name[ku]=Bosnî
Name[lb]=Bosnesch
Name[lt]=Bosnių
Name[lv]=Bosniešu
Name[mk]=Босански
Name[mn]=Босни
Name[ms]=Bosnia
Name[mt]=Bożniaku
Name[nb]=Bosnisk
Name[nds]=Bosnisch
Name[ne]=बोस्नियाली
Name[nl]=Bosnisch
Name[nn]=Bosnisk
Name[nso]=Se-Bosnian
Name[pa]=ਬੋਸਨੀਆ
Name[pl]=Bośniacki
Name[pt]=Bósnio
Name[pt_BR]=Bósnio
Name[ro]=Bosniacă
Name[ru]=Боснийский
Name[rw]=Ikinyabosiniya
Name[se]=Bosniagiella
Name[sk]=bosniačtina
Name[sl]=bosansko
Name[sq]=Boshnjakisht
Name[sr]=Бошњачки
Name[sr@Latn]=Bošnjački
Name[ss]=Si-Bosnian
Name[sv]=Bosniska
Name[ta]=போஸ்னியன்
Name[te]=బొస్నియన్
Name[tg]=Босниявӣ
Name[th]=ภาษาบอสเนีย
Name[tr]=Boşnakça
Name[tt]=Bosniçä
Name[uk]=Боснійська
Name[uz]=Bosniyacha
Name[uz@cyrillic]=Боснияча
Name[ven]=Mubosinia
Name[vi]=Bo-x-ni-a
Name[wa]=Bosnyin
Name[zh_CN]=波斯尼亚语
Name[zh_HK]=波斯尼亞語
Name[zh_TW]=波斯尼亞語
Name[zu]=Isi-Bosnian
