[KCM Locale]
Name=Vietnamese
Name[af]=Viëtnamese
Name[ar]=فييتنامية
Name[az]=Vyetnamca
Name[be]=В'етнамская
Name[bg]=Виетнамски
Name[bn]=ভিয়েতনামী
Name[br]=Viet-Nameg
Name[bs]=Vijetnamski
Name[ca]=Vietnamita
Name[cs]=Vietnamský
Name[csb]=Wietnamsczi
Name[cy]=Fietnameg
Name[da]=Vietnamesisk
Name[de]=Vietnamesisch
Name[el]=Βιετναμέζικα
Name[eo]=Vjetnama
Name[es]=Vietnamita
Name[et]=Vietnami
Name[eu]=Vietnamera
Name[fa]=ویتنامی
Name[fi]=Vietnam
Name[fo]=Vietnamesiskt
Name[fr]=Vietnamien
Name[fy]=Vietnameesk
Name[ga]=Vítneamais
Name[gl]=Vietnamita
Name[he]=וייטנאמית
Name[hi]=विएतनामी
Name[hr]=Vijetnamski
Name[hsb]=Wietnamsce
Name[hu]=Vietnami
Name[id]=Vietnam
Name[is]=Víetnamska
Name[it]=Vietnamita
Name[ja]=ベトナム語
Name[ka]=ვიეტნამური
Name[kk]=Вьетнамша
Name[km]=វៀតណាម
Name[ko]=베트남어
Name[ku]=Viyetnamî
Name[lb]=Vietnamesesch
Name[lt]=Vietnamiečių
Name[lv]=Vjetnamiešu
Name[mk]=Виетнамски
Name[mn]=Ветьнам
Name[ms]=Vietnam
Name[mt]=Vjetnamiż
Name[nb]=Vietnamesisk
Name[nds]=Vietnameesch
Name[ne]=भियतनामी
Name[nl]=Viëtnamees
Name[nn]=Vietnamesisk
Name[nso]=Se-Vietnamese
Name[pa]=ਵੀਅਤਨਾਮੀ
Name[pl]=Wietnamski
Name[pt]=Vietnamita
Name[pt_BR]=Vietnamita
Name[ro]=Vietnameză
Name[ru]=Вьетнамский
Name[rw]=Ikinyaviyetinamu
Name[se]=Vietnamagiella
Name[sk]=vietnamčina
Name[sl]=vietnamsko
Name[sq]=Vietnamisht
Name[sr]=Вијетнамски
Name[sr@Latn]=Vijetnamski
Name[ss]=Si-Vietnamese
Name[sv]=Vietnamesiska
Name[ta]=வியட்னாமியம்
Name[te]=వియత్నమీస్
Name[tg]=Виетнамӣ
Name[th]=ภาษาเวียตนาม
Name[tr]=Vietnamca
Name[tt]=Vietnamça
Name[uk]=В'єтнамська
Name[uz]=Vetnamcha
Name[uz@cyrillic]=Ветнамча
Name[ven]=Muvietenamu
Name[vi]=Việt
Name[wa]=Vietnamyin
Name[zh_CN]=越南语
Name[zh_HK]=越南語
Name[zh_TW]=越南語
Name[zu]=Isi-Vietnamese
