[KCM Locale]
Name=Macedonian
Name[af]=Makedoniese
Name[ar]=مقدونية
Name[az]=Makedonca
Name[be]=Македонская
Name[bg]=Македонски
Name[bn]=মাসিডোনীয়
Name[br]=Makedoneg
Name[bs]=Makedonski
Name[ca]=Macedoni
Name[cs]=Makedonský
Name[csb]=Macedońsczi
Name[cy]=Macedoneg
Name[da]=Makedonisk
Name[de]=Makedonisch
Name[el]=Σλαβομακεδονικά
Name[eo]=Macedonia
Name[es]=Macedonio
Name[et]=Makedoonia
Name[eu]=Mazedoniera
Name[fa]=مقدونی
Name[fi]=Makedonia
Name[fo]=Makedonskt
Name[fr]=Macédonien
Name[fy]=Masedoanysk
Name[ga]=Macadóinis
Name[gl]=Macedónio
Name[he]=מקדונית
Name[hi]=मकदूनियाई
Name[hr]=Makedonski
Name[hsb]=Makedonsce
Name[hu]=Macedón
Name[id]=Masedonia
Name[is]=Makedóníska
Name[it]=Macedone
Name[ja]=マケドニア語
Name[ka]=მაკედონუური
Name[kk]=Македонша
Name[km]=ម៉ាសេដូនី
Name[ko]=마케도니아어
Name[ku]=Makedonî
Name[lb]=Mazedonesch
Name[lt]=Makedoniečių
Name[lv]=Maķedoniešu
Name[mi]=Reo Makerönia
Name[mk]=Македонски
Name[mn]=Макидони
Name[ms]=Macedonia
Name[mt]=Maċedonjan
Name[nb]=Makedonsk
Name[nds]=Makedoonsch
Name[ne]=म्यासेडोनियन
Name[nl]=Macedonisch
Name[nn]=Makedonsk
Name[nso]=Se-Macedonian
Name[pa]=ਮੈਕਡੋਨੀਆਈ
Name[pl]=Macedoński
Name[pt]=Macedónio
Name[pt_BR]=Macedônio
Name[ro]=Macedoneană
Name[ru]=Македонский
Name[rw]=Ikinyamacedoniya
Name[se]=Makedoniagiella
Name[sk]=macedónčina
Name[sl]=makedonsko
Name[sq]=Sllavo-Maqedonisht
Name[sr]=Македонски
Name[sr@Latn]=Makedonski
Name[ss]=Si-Macedonian
Name[sv]=Makedonska
Name[ta]=மாசிடோனிய
Name[te]=మెసిడొనియన్
Name[tg]=Мақдунӣ
Name[th]=ภาษามาเซโดเนีย
Name[tr]=Makedonca
Name[tt]=Makedonça
Name[uk]=Македонська
Name[uz]=Makedoniyacha
Name[uz@cyrillic]=Македонияча
Name[ven]=Mumasedonia
Name[vi]=Ma-xê-đô-ni
Name[wa]=Macedonyin
Name[zh_CN]=马其顿语
Name[zh_HK]=馬其頓語
Name[zh_TW]=馬其頓語
Name[zu]=Isi-Makhedoniya
Languages=mk
Region=easteurope
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=MKD
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%A %e. %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
