[KCM Locale]
Name=Kazakh
Name[be]=Казахская
Name[bg]=Казахски
Name[br]=Kazakstaneg
Name[cs]=Kazašský
Name[csb]=Kazachsczi
Name[de]=Kasachisch
Name[el]=Καζακικά
Name[eo]=Kazaĥa
Name[es]=Kazajo
Name[et]=Kasahhi
Name[fa]=قزاق
Name[fi]=Kazakki
Name[fy]=Kasaksk
Name[ga]=Casaicis
Name[he]=קזחית
Name[hr]=Kazaški
Name[hu]=Kazah
Name[is]=Kasaksíska
Name[it]=Kazako
Name[ja]=カザフ語
Name[ka]=ყაზახური
Name[kk]=Қазақша
Name[km]=កាហ្សាក់ស្តង់
Name[ko]=카자흐어
Name[ku]=Kazaxî
Name[lb]=Kasachesch
Name[lt]=Kazachų
Name[lv]=Kazahu
Name[mk]=Казахстански
Name[nb]=Kasakstansk
Name[nds]=Kasachsch
Name[ne]=कजाक
Name[nl]=Kazachs
Name[nn]=Kasakhisk
Name[pa]=ਕਾਜ਼ਾਖ
Name[pl]=Kazachski
Name[pt]=Cazaquistanês
Name[ro]=Cazacă
Name[ru]=Казахский
Name[sk]=kazaština
Name[sl]=kazaško
Name[sr]=Казахстански
Name[sr@Latn]=Kazahstanski
Name[sv]=Kazakiska
Name[te]=కజాఖ్
Name[tg]=Қазоқӣ
Name[th]=ภาษาคาซัค
Name[tr]=Kazakça
Name[uk]=Казахська
Name[uz]=Qozoqcha
Name[uz@cyrillic]=Қозоқча
Name[vi]=Kha-xa-kh
Name[wa]=Kazaxh
Name[zh_CN]=哈萨克语
Name[zh_HK]=哈薩克語
Name[zh_TW]=哈薩克語
