[KCM Locale]
Name=Romanian
Name[af]=Romeense
Name[ar]=رومانية
Name[az]=Rumınca
Name[be]=Румынская
Name[bg]=Румънски
Name[bn]=রোমানীয়
Name[br]=Roumaneg
Name[bs]=Rumunski
Name[ca]=Romanès
Name[cs]=Rumunský
Name[csb]=Rumùńsczi
Name[cy]=Romaneg
Name[da]=Rumænsk
Name[de]=Rumänisch
Name[el]=Ρουμανικά
Name[eo]=Rumana
Name[es]=Rumano
Name[et]=Rumeenia
Name[eu]=Errumaniera
Name[fa]=رومانیایی
Name[fi]=Romania
Name[fo]=Rumenskt
Name[fr]=Roumain
Name[fy]=Roemeensk
Name[ga]=Rómáinis
Name[gl]=Romanés
Name[he]=רומנית
Name[hi]=रोमानियाई
Name[hr]=Rumunjski
Name[hsb]=Rumunsce
Name[hu]=Román
Name[id]=Romania
Name[is]=Rúmenska
Name[it]=Rumeno
Name[ja]=ルーマニア語
Name[ka]=რუმინული
Name[kk]=Румынша
Name[km]=រូម៉ានី
Name[ko]=루마니아어
Name[ku]=Romanî
Name[lb]=Rumänesch
Name[lt]=Rumunų
Name[lv]=Rumāņu
Name[mi]=Reo Romeinia
Name[mk]=Романски
Name[mn]=Румын
Name[ms]=Romania
Name[mt]=Rumen
Name[nb]=Rumensk
Name[nds]=Rumäänsch
Name[ne]=रोमानियाली
Name[nl]=Roemeens
Name[nn]=Rumensk
Name[nso]=Se-Romanian
Name[pa]=ਰੋਮਾਨੀਅਨ
Name[pl]=Rumuński
Name[pt]=Romeno
Name[pt_BR]=Romeno
Name[ro]=Română
Name[ru]=Румынский
Name[rw]=Ikinyarumaniya
Name[se]=Romániagiella
Name[sk]=rumunčina
Name[sl]=romunsko
Name[sq]=Rumanisht
Name[sr]=Румунски
Name[sr@Latn]=Rumunski
Name[ss]=SiRoma
Name[sv]=Rumänska
Name[ta]=ருமேனியம்
Name[te]=రొమెనియన్
Name[tg]=Руминӣ
Name[th]=ภาษาโรมาเนีย
Name[tr]=Romence
Name[tt]=Romança
Name[uk]=Румунська
Name[uz]=Rumincha
Name[uz@cyrillic]=Руминча
Name[ven]=Muroma
Name[vi]=Rỗ-má-ni
Name[wa]=Roumin
Name[zh_CN]=罗马尼亚语
Name[zh_HK]=羅馬尼亞語
Name[zh_TW]=羅馬尼亞語
Name[zu]=Isi-Romanian
