[KCM Locale]
Name=Swati
Name[ar]= سواتية
Name[az]=Svati Dili
Name[be]=Сваці
Name[bg]=Суази
Name[bn]=সোয়াতি
Name[eo]=Svazia
Name[et]=Svati
Name[eu]=Swatiera
Name[fa]=سوآتی
Name[fi]=Swazi
Name[ga]=Sasuatais
Name[he]=סוואטי
Name[hi]=स्वाती
Name[hr]=Suati
Name[hu]=Szvati
Name[ja]=スワティ語
Name[ka]=სვატი
Name[kk]=Свати
Name[km]=ស្វាទី
Name[ko]=스와티어
Name[ku]=Swatî
Name[lv]=Svati
Name[mk]=Свати
Name[mn]=Свати
Name[ne]=स्वाति
Name[nso]=Seswati
Name[pa]=ਸਵਾਟੀ
Name[ru]=Свати
Name[rw]=Igiswati
Name[se]=Swatigiella
Name[sk]=swati
Name[sl]=swati
Name[sq]=Suatisht
Name[sr]=Суати
Name[sr@Latn]=Suati
Name[ss]=SiSwati
Name[ta]=ஸ்வாதி
Name[te]=స్వాతి
Name[tg]=Сватӣ
Name[th]=ภาษาสวาติ
Name[tr]=Svatça
Name[tt]=Swatça
Name[uk]=Сваті
Name[uz]=Svati
Name[uz@cyrillic]=Свати
Name[vi]=Xouă-ti
Name[wa]=Suwati
Name[zh_CN]=斯瓦特语
Name[zh_TW]=史瓦地語
Name[zu]=IsiSwati
