[KCM Locale]
Name=Tajik
Name[af]=Thaise
Name[ar]=الطاجيكي
Name[az]=Tacikcə
Name[be]=Таджыцкая
Name[bg]=Таджикски
Name[bn]=তাজিক
Name[br]=Tajiek
Name[bs]=Tadžički
Name[cs]=Tádžický
Name[csb]=Tadżëcczi
Name[de]=Tadschikisch
Name[el]=Τατζικικά
Name[eo]=Taĝika
Name[et]=Tadžiki
Name[eu]=Tadjikera
Name[fa]=تاجیکی
Name[fi]=Tadžikki
Name[fy]=Tadzjyksk
Name[ga]=Táidsícis
Name[he]=טאג'יק
Name[hi]=ताज़िक
Name[hr]=Tadžik
Name[hsb]=Tadźikisce
Name[hu]=Tadzsik
Name[it]=Tagico
Name[ja]=タジク語
Name[ka]=ტაჯიკური
Name[kk]=Тәжікше
Name[km]=តាដហ្ស៊ីគីស្តង់
Name[ko]=타지크어
Name[ku]=Tajîkî
Name[lb]=Tadjikesch
Name[lt]=Tadžikų
Name[lv]=Tadžiku
Name[mk]=Таџикистански
Name[mn]=Тажик
Name[nds]=Tadschiiksch
Name[ne]=ताजिक
Name[nn]=Tadsjikisk
Name[pa]=ਤਾਜਿਕ
Name[pl]=Tadżycki
Name[ro]=Tadjică
Name[ru]=Таджикский
Name[rw]=Igitajika
Name[se]=Tajikagiella
Name[sk]=tadžičtina
Name[sl]=tadžiško
Name[sr]=Таџикистански
Name[sr@Latn]=Tadžikistanski
Name[sv]=Tadzjikiska
Name[ta]=தாஜிக்
Name[te]=తాజిక్
Name[tg]=Тоҷикӣ
Name[th]=ภาษาทาจิกิสถาน
Name[tt]=Tajıqça
Name[uk]=Таджицька
Name[uz]=Tojikcha
Name[uz@cyrillic]=Тожикча
Name[vi]=Ta-gi-kh
Name[wa]=Tadjik
Name[zh_CN]=塔吉克语
Name[zh_HK]=塔吉克語
Name[zh_TW]=塔吉克語

