[KCM Locale]
Name=Serbian
Name[af]=Serbiese
Name[ar]=صربية
Name[az]=Serbcə
Name[be]=Сербская
Name[bg]=Сръбски
Name[bn]=সার্বীয়
Name[br]=Serbeg
Name[bs]=Srpski
Name[ca]=Serbi
Name[cs]=Srbský
Name[csb]=Serbsczi
Name[cy]=Serbieg
Name[da]=Serbisk
Name[de]=Serbisch
Name[el]=Σερβικά
Name[eo]=Serba
Name[es]=Serbio
Name[et]=Serbia
Name[eu]=Serbiera
Name[fa]=صربی
Name[fi]=Serbia
Name[fo]=Serbiskt
Name[fr]=Serbe
Name[fy]=Servysk
Name[ga]=Seirbis
Name[gl]=Sérvio
Name[he]=סרבית
Name[hi]=सर्बियाई
Name[hr]=Srpski
Name[hsb]=Serbisce
Name[hu]=Szerb
Name[id]=Serbia
Name[is]=Serbneska
Name[it]=Serbo
Name[ja]=セルビア語
Name[ka]=სერბული
Name[kk]=Сербше
Name[km]=សែប៊ី
Name[ko]=세르비아어
Name[ku]=Sirbî
Name[lb]=Serbesch
Name[lt]=Serbų
Name[lv]=Serbu
Name[mk]=Српски
Name[mn]=Серби
Name[ms]=Serbia
Name[mt]=Serb
Name[nb]=Serbisk
Name[nds]=Serbsch
Name[ne]=सर्बियाली
Name[nl]=Servisch
Name[nn]=Serbisk
Name[nso]=Se-Serbian
Name[pa]=ਸਰਵੀਅਨ
Name[pl]=Serbski
Name[pt]=Sérvio
Name[pt_BR]=Sérvio
Name[ro]=Sîrbă
Name[ru]=Сербский
Name[rw]=Ikinyaseribiya
Name[se]=Serbiágiella
Name[sk]=srbčina
Name[sl]=srbsko
Name[sq]=Serbisht
Name[sr]=Српски
Name[sr@Latn]=Srpski
Name[ss]=Si-Serbian
Name[sv]=Serbiska
Name[ta]=செர்பியன்
Name[te]=సెర్బియన్
Name[tg]=Сербӣ
Name[th]=ภาษาเซอร์เบีย
Name[tr]=Sırpça
Name[tt]=Serbçä
Name[uk]=Сербська
Name[uz]=Serbcha
Name[uz@cyrillic]=Сербча
Name[ven]=Musebiene
Name[vi]=Xéc-bi
Name[wa]=Siebe
Name[zh_CN]=塞尔维亚语
Name[zh_HK]=塞爾維亞語
Name[zh_TW]=塞族語
Name[zu]=Isi-Serbian
