[KCM Locale]
Name=Chinese
Name[af]=Sjinese
Name[ar]=صينية
Name[az]=Çincə
Name[be]=Кітайская
Name[bg]=Китайски
Name[bn]=চৈনিক
Name[br]=Sinaeg
Name[bs]=Kineski
Name[ca]=Xinès
Name[cs]=Čínský
Name[csb]=Chińsczi
Name[cy]=Tseineg
Name[da]=Kinesisk
Name[de]=Chinesisch
Name[el]=Κινέζικα
Name[eo]=Ĉina
Name[es]=Chino
Name[et]=Hiina
Name[eu]=Txinera
Name[fa]=چینی
Name[fi]=Kiina
Name[fo]=Kinesiskt
Name[fr]=Chinois
Name[fy]=Sjineesk
Name[ga]=Sínis
Name[gl]=Chinés
Name[he]=סינית
Name[hi]=चीनी
Name[hr]=Kineski
Name[hsb]=Chinsce
Name[hu]=Kínai (hagyományos)
Name[id]=China
Name[is]=Kínverska
Name[it]=Cinese
Name[ja]=中国語
Name[ka]=ჩინური
Name[kk]=Қытайша
Name[km]=ចិន
Name[ko]=중국어
Name[ku]=Çînî
Name[lb]=Chinesesch
Name[lt]=Kiniečių
Name[lv]=Ķīniešu
Name[mi]=Reo Häina
Name[mk]=Кинески
Name[mn]=Хятад
Name[mt]=Ċiniż
Name[nb]=Kinesisk
Name[nds]=Chineesch
Name[ne]=चिनियाँ
Name[nl]=Chinees
Name[nn]=Kinesisk
Name[nso]=Se-China
Name[oc]=Chinès
Name[pa]=ਚੀਨੀ
Name[pl]=Chiński
Name[pt]=Chinês
Name[pt_BR]=Chinês
Name[ro]=Chineză
Name[ru]=Китайский
Name[rw]=Igishinwa
Name[se]=Kiinnágiella
Name[sk]=čínština
Name[sl]=kitajsko
Name[sq]=Kinezisht
Name[sr]=Кинески
Name[sr@Latn]=Kineski
Name[ss]=SiShayina
Name[sv]=Kinesiska
Name[ta]=சீனம்
Name[te]=చైనీస్
Name[tg]=Хитой
Name[th]=ภาษาจีน
Name[tr]=Çince
Name[tt]=Çinçä
Name[uk]=Китайська
Name[uz]=Xitoycha
Name[uz@cyrillic]=Хитойча
Name[ven]=Mutshaina
Name[vi]=Trung quốc
Name[wa]=Chinwès
Name[zh_CN]=繁体中文
Name[zh_HK]=繁體中文
Name[zh_TW]=繁體中文
Name[zu]=Isi-Shayina
