[KCM Locale]
Name=Khmer
Name[be]=Хмерская
Name[bg]=Кхмерски
Name[br]=Kmereg
Name[bs]=Kmerski
Name[cs]=Kmérský
Name[csb]=Khmersczi
Name[el]=Χμερ
Name[eo]=Ĥmera
Name[et]=Khmeeri
Name[eu]=Khemerera
Name[fa]=خمری
Name[ga]=Ciméiris
Name[hr]=Kmerski
Name[is]=Khmeríska
Name[ja]=クメール語
Name[ka]=ქჰმერული
Name[kk]=Кхмерше
Name[km]=ខ្មែរ
Name[ko]=크메르어
Name[lt]=Chmerų
Name[lv]=Khmeru
Name[mk]=Кмерски
Name[ne]=खमेर
Name[pa]=ਖਮੀਰ
Name[ro]=Kmeră
Name[ru]=Кхмерский
Name[sk]=khmérčina
Name[sl]=kmersko
Name[sr]=Кмерски
Name[sr@Latn]=Kmerski
Name[sv]=Kambodjanska
Name[te]=ఖ్మెర్
Name[tg]=Хмерӣ
Name[th]=ภาษาเขมร
Name[tr]=Kamboçya Yerli Dili
Name[uk]=Хмерська
Name[uz]=Kxmer
Name[uz@cyrillic]=Кхмер
Name[vi]=Khơ-me
Name[wa]=Xhmer
Name[zh_CN]=高棉语
Name[zh_HK]=高棉語
Name[zh_TW]=高棉語
