<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="gstreamer_part" version="5">
<MenuBar>
  <Menu name="player"><text>&amp;Player</text>
    <Action name="player_play"/>
    <Action name="player_pause"/>
    <Action name="player_stop"/>
    <Action name="player_next"/>
    <Action name="player_previous"/>
    <Separator/>
    <Action name="audio_visual"/>
    <Action name="audio_mute"/>
    <Separator/>
    <Menu name="video_aspect"><text>&amp;Aspect Ratio</text>
      <Action name="aspect_auto"/>
      <Action name="aspect_43"/>
      <Action name="aspect_anamorphic"/>
      <Action name="aspect_dvb"/>
      <Action name="aspect_square"/>
    </Menu>
    <Action name="video_settings"/>
    <Action name="player_track_info"/>
  </Menu>
  <Menu name="settings">
    <Action name="settings_gst_parameter"/>
  </Menu>
</MenuBar>
<ToolBar name="gstControlsToolBar" position="Bottom"><text>Controls Toolbar</text>
  <Action name="player_previous"/>
  <Action name="player_play"/>
  <Action name="player_pause"/>
  <Action name="player_stop"/>
  <Action name="player_next"/>
</ToolBar>
<ToolBar name="gstVolumeToolBar"><text>Volume Toolbar</text>
  <Action name="audio_volume"/>
  <Action name="audio_mute"/>
</ToolBar>
<ToolBar name="gstPositionToolBar" fullWidth="true" position="Bottom"><text>Position Toolbar</text>
  <Action name="player_position"/>
  <Separator/>
  <Action name="player_playtime"/>
</ToolBar>
<Menu name="context_menu">
  <Action name="player_minimal_mode"/>
  <Separator/>
  <Action name="player_play"/>
  <Action name="player_pause"/>
  <Action name="player_stop"/>
  <Action name="player_next"/>
  <Action name="player_previous"/>
  <Separator/>
  <Action name="audio_visual"/>
  <Action name="audio_mute"/>
  <Separator/>
  <Menu name="video_aspect"><text>&amp;Aspect Ratio</text>
    <Action name="aspect_auto"/>
    <Action name="aspect_43"/>
    <Action name="aspect_anamorphic"/>
    <Action name="aspect_dvb"/>
    <Action name="aspect_square"/>
  </Menu>
  <Action name="video_settings"/>
  <Action name="player_track_info"/>
</Menu>
<State name="disable_all">
  <enable>
    <Action name="player_play"/>
  </enable>
  <disable>
    <Action name="player_pause"/>
    <Action name="player_stop"/>
    <Action name="player_position"/>
    <Action name="player_playtime"/>
    <Action name="player_next"/>
    <Action name="player_previous"/>
  </disable>
</State>
<State name="not_playing">
  <enable>
    <Action name="player_play"/>
    <Action name="player_next"/>
    <Action name="player_previous"/>
  </enable>
  <disable>
    <Action name="player_pause"/>
    <Action name="player_stop"/>
    <Action name="player_position"/>
    <Action name="player_playtime"/>
  </disable>
</State>
<State name="playing">
  <enable>
    <Action name="player_next"/>
    <Action name="player_previous"/>
    <Action name="player_pause"/>
    <Action name="player_stop"/>
    <Action name="player_position"/>
    <Action name="player_playtime"/>
  </enable>
  <disable>
    <Action name="player_play"/>
  </disable>
</State>
</kpartgui>