[Desktop Entry]
Encoding=UTF-8
Icon=gstreamer
Name=Kaffeine-GStreamer
Name[af]=Kaffeine=GStremer
Name[nb]=Kaffeine GStreamer
Name[pa]=ਕੈਫ਼ੀਨ-ਜੀਸਟਰੀਮਰ
Name[se]=Kaffeine GStreamer
Name[sv]=Kaffeine-Gstreamer
Name[xx]=xxKaffeine-GStreamerxx
Comment=A Kaffeine engine based on GStreamer.
Comment[af]='n Kaffeine enjin wat op GStreamer gebaseer is.
Comment[bg]=Ядро за Kaffeine, базирано върху GStreamer.
Comment[ca]=Una part de reproductor basada en GStreamer.
Comment[cs]=Část přehrávače založená na GStreameru.
Comment[da]=En Kaffeine-grænseflade baseret på Gstreamer.
Comment[de]=Ein auf GStreamer basierendes Programmmodul.
Comment[el]=Μία μηχανή του Kaffeine βασισμένη στο GStreamer.
Comment[es]=Un motor de Kaffeine basado en GStreamer.
Comment[et]=Kaffeine mootor GStreameri põhjal.
Comment[fi]=GStreamer-kirjastoa käyttävä toistoydin.
Comment[ga]=Inneall Kaffeine bunaithe ar GStreamer.
Comment[gl]=Un motor para Kaffeine baseado en GStreamer.
Comment[hu]=GStreamer-alapú Kaffeine-alrendszer.
Comment[it]=Un motore di Kaffeine basato su GStreamer.
Comment[ja]=GStreamer に基づく Kaffeine エンジン
Comment[km]=ម៉ាស៊ីន​ Kaffeine មាន​មូលដ្ឋាន​លើ GStreamer ។
Comment[lt]=Kaffeine variklis, paremtas GStreamer.
Comment[nb]=En spillermotor basert på GStreamer.
Comment[nl]=Een Kaffeine-engine gebaseerd op GStreamer.
Comment[pa]=ਜੀਸਟੀਮਰ ਅਧਾਰਤ ਇੱਕ ਕੈਫ਼ੀਨ ਇੰਜਣ ਹੈ।
Comment[pl]=Moduł odtwarzacza do Kaffeine bazujący na GStreamer.
Comment[pt]=Um motor Kaffeine no GStreamer.
Comment[pt_BR]=Um componente de reprodução Kaffeine baseado no GStreamer.
Comment[se]=Čuojanmohtor vuođđoduvvon GStreameris.
Comment[sr]=Кафеинов мотор заснован на GStreamer-у.
Comment[sr@Latn]=Кафеинов мотор заснован на GStreamer-у.
Comment[sv]=Ett Kaffeine-gränssnitt baserad på Gstreamer.
Comment[tg]=Барномаи Kaffeine дар асоси GStreamer.
Comment[th]=โปรแกรมประมวลผลของ Kaffeine โดยใช้ GStreamer
Comment[tr]=GStreamer tabanlı bir Kaffeine motoru.
Comment[uk]=Рушій Kaffeine, оснований на GStreamer.
Comment[xx]=xxA Kaffeine engine based on GStreamer.xx
MimeType=application/x-ogg;audio/basic;audio/vnd.rn-realaudio;audio/x-aiff;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-ogg;audio/x-pn-realaudio;audio/x-pn-realaudio-plugin;audio/x-scpls;audio/x-wav;audio/x-flac;video/x-matroska;audio/x-matroska;video/mpeg;video/msvideo;video/quicktime;video/vnd.rn-realvideo;video/x-avi;video/x-fli;video/x-flic;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;application/x-mplayer2;application/smil;application/x-kaffeine;audio/x-musepack;
ServiceTypes=KParts/ReadOnlyPart,KaffeinePart
Type=Service
X-KDE-Library=libgstreamerpart
InitialPreference=1
