[KCM Locale]
Name=Frisian
Name[be]=Фрысійская
Name[bg]=Фризийски
Name[br]=Frisianeg
Name[bs]=Frizijski
Name[ca]=Frisó
Name[cs]=Fríský
Name[csb]=Frizëjsczi
Name[cy]=Frisieg
Name[da]=Frisisk
Name[de]=Friesisch
Name[eo]=Frisa
Name[es]=Frisio
Name[et]=Friisi
Name[eu]=Farsi
Name[fa]=فریسی
Name[fi]=Friisi
Name[fr]=Frisien
Name[fy]=Frysk
Name[ga]=Freaslainnis
Name[gl]=Frísio
Name[he]=פרסית
Name[hr]=Frizijski
Name[hsb]=Frizisce
Name[hu]=Fríz
Name[is]=Frísneska
Name[it]=Frisone
Name[ja]=フリジア語
Name[ka]=ფრიზიული
Name[kk]=Фризше
Name[km]=ហ្វ្រីស៊ាន
Name[ko]=프리지아어
Name[ku]=Frîzî
Name[lb]=Frisesch
Name[lt]=Fryzų
Name[lv]=Frīzu
Name[mk]=Фризиски
Name[nb]=Frisisk
Name[nds]=Freesch
Name[ne]=फ्रिसियन
Name[nl]=Fries
Name[nn]=Frisisk
Name[pa]=ਫ਼ਾਰਸੀ
Name[pl]=Fryzyjski
Name[pt]=Frísio
Name[ro]=Frisiană
Name[ru]=Фризийский
Name[rw]=Igifuriziyani
Name[se]=Frisialagiella
Name[sk]=frízština
Name[sl]=frizijsko
Name[sr]=Фрисијски
Name[sr@Latn]=Frisijski
Name[sv]=Frisiska
Name[ta]=ஃப்ரிசியன்
Name[te]=ఫ్రిసియన్
Name[tg]=Фрисианӣ
Name[th]=ภาษาฟริสเซีย
Name[tr]=Frizyece
Name[uk]=Фризійська
Name[uz]=Frizcha
Name[uz@cyrillic]=Фризча
Name[vi]=Phợ-ri-xi
Name[wa]=Frizon
Name[zh_CN]=波斯语
Name[zh_HK]=弗里西亞語
Name[zh_TW]=弗里西亞語
