[KCM Locale]
Name=Azerbaijani
Name[ar]=أذربيجانية
Name[az]=Azərbaycanca
Name[be]=Азербайджанская
Name[bg]=Азербайджански
Name[bn]=আজেরবাইজানি
Name[br]=Azerbaidjanek
Name[bs]=Azerbejdžanski
Name[ca]=Àzeri
Name[cs]=Ázerbajdžánský
Name[csb]=Azerbejdżańsczi
Name[cy]=Azerbaijaneg
Name[da]=Azerbaijansk
Name[de]=Aserbaidschanisch
Name[el]=Αζερμπαϊτζαϊνικά
Name[eo]=Azerbajĝana
Name[es]=Azerbaijaní
Name[et]=Aserbaidžaani
Name[eu]=Azerbaijanera
Name[fa]=آذربایجانی
Name[fi]=Azeri
Name[fo]=Aserbaijanskt
Name[fr]=Azeri
Name[fy]=Azerbeidzjaansk
Name[ga]=Asarbaiseáinis
Name[gl]=Azeri
Name[he]=אזרביג'נית
Name[hi]=अजरबेजानी
Name[hr]=Azerbejdžanski
Name[hsb]=Azerbajdžansce
Name[hu]=Azerbajdzsáni
Name[id]=Azerbaijan
Name[is]=Azerbaijanska
Name[it]=Azerbaigiano
Name[ja]=アゼルバイジャン語
Name[ka]=აზერბაიჯანული
Name[kk]=Әзірбайжанша
Name[km]=អាហ្ស៊ែរបែហ្សង់
Name[ko]=아제르바이잔어
Name[ku]=Azerî
Name[lb]=Aserbaidjanesch
Name[lt]=Azerbaidžaniečių
Name[lv]=Azerbaidžāņu
Name[mk]=Азербејџански
Name[mn]=Азербежайн
Name[ms]=Azerbaijan
Name[mt]=Ażerbajġani
Name[nb]=Aserbajdsjansk
Name[nds]=Aserbaidschaansch
Name[ne]=अजरबैजानी
Name[nl]=Azerbeidzjaans
Name[nn]=Aserbajdsjansk
Name[nso]=Se-Azerbaijani
Name[pa]=ਅਜ਼ਰਬਾਈਜਾਨੀ
Name[pl]=Azerbejdżański
Name[pt]=Azerbaijano
Name[pt_BR]=Azerbaijão
Name[ro]=Azerbaijană
Name[ru]=Азербайджанский
Name[rw]=Ikinyazeribayijani
Name[se]=Azerbaižánagiella
Name[sk]=azerbajdžančina
Name[sl]=azerbajdžansko
Name[sq]=Azerbejxhanisht
Name[sr]=Азербејџански
Name[sr@Latn]=Azerbejdžanski
Name[ss]=Si-Azerbaijani
Name[sv]=Azerbaijanska
Name[ta]=அசர்பைஜாணி
Name[te]=అజర్ బైజని
Name[tg]=Озорбойҷонӣ
Name[th]=ภาษาอาเซอร์ไบจัน
Name[tr]=Azerice
Name[tt]=Äzerçä
Name[uk]=Азербайджанська
Name[uz]=Ozarbayjoncha
Name[uz@cyrillic]=Озарбайжонча
Name[ven]=Azebeidzhani
Name[vi]=A-xợ-bai-gianh
Name[wa]=Azeri
Name[zh_CN]=阿塞拜疆语
Name[zh_HK]=阿塞拜疆語
Name[zh_TW]=亞塞拜然語
Name[zu]=Isi-Azerbaijani

