[KCM Locale]
Name=Greek
Name[af]=Grieks
Name[ar]=يونانية
Name[az]=Yunanca
Name[be]=Грэцкая
Name[bg]=Гръцки
Name[bn]=গ্রীক
Name[br]=Gresianeg
Name[bs]=Grčki
Name[ca]=Grec
Name[cs]=Řecký
Name[csb]=Grecczi
Name[cy]=Groeg
Name[da]=Græsk
Name[de]=Griechisch
Name[el]=Ελληνικά
Name[eo]=Greka
Name[es]=Griego
Name[et]=Kreeka
Name[eu]=Grekoa
Name[fa]=یونانی
Name[fi]=Kreikka
Name[fo]=Grikst
Name[fr]=Grec
Name[fy]=Gryks
Name[ga]=Gréigis
Name[gl]=Grego
Name[he]=יוונית
Name[hi]=यूनानी
Name[hr]=Grčki
Name[hsb]=Grjeksce
Name[hu]=Görög
Name[id]=Yunani
Name[is]=Gríska
Name[it]=Greco
Name[ja]=ギリシャ語
Name[ka]=ბერძნული
Name[kk]=Грекше
Name[km]=ក្រិច
Name[ko]=그리스어
Name[ku]=Yewnanî
Name[lb]=Griichesch
Name[lt]=Graikų
Name[lv]=Grieķu
Name[mi]=Reo Kariki
Name[mk]=Грчки
Name[mn]=Грек
Name[mt]=Grieg
Name[nb]=Gresk
Name[nds]=Greeksch
Name[ne]=ग्रीक
Name[nl]=Grieks
Name[nn]=Gresk
Name[nso]=Segerika
Name[oc]=Grec
Name[pa]=ਗਰੀਕ
Name[pl]=Grecki
Name[pt]=Grego
Name[pt_BR]=Grego
Name[ro]=Greacă
Name[ru]=Греческий
Name[rw]=Ikigereki
Name[se]=Greikkagiella
Name[sk]=gréčtina
Name[sl]=grško
Name[sq]=Greqisht
Name[sr]=Грчки
Name[sr@Latn]=Grčki
Name[ss]=SiGriki
Name[sv]=Grekiska
Name[ta]=கிரேக்கம்
Name[te]=గ్రీక్
Name[tg]=Юнонӣ
Name[th]=ภาษากรีก
Name[tr]=Yunanca
Name[tt]=Yunança
Name[uk]=Грецька
Name[uz]=Yunoncha
Name[uz@cyrillic]=Юнонча
Name[ven]=Mugerika
Name[vi]=Hy-lạp
Name[wa]=Grek
Name[zh_CN]=希腊语
Name[zh_HK]=希臘語
Name[zh_TW]=希臘語
Name[zu]=isi-Grike
