[KCM Locale]
Name=Afrikaans
Name[ar]=أفريكانس
Name[az]=Afrika Dili
Name[be]=Афрыкаанс
Name[bg]=Африкаанс
Name[bn]=আফ্রিকান্‌স
Name[cs]=Afrikánský
Name[csb]=Afrikanersczi
Name[cy]=Affricaneg
Name[el]=Αφρικανικά
Name[eo]=Afrikansa
Name[et]=Afrikaani
Name[eu]=Afrikaansa
Name[fa]=آفریکانس
Name[fo]=Suðurafrikanskt
Name[fy]=Afrikaansk
Name[ga]=Afracáinis
Name[he]=אפריקנס
Name[hi]=अफ्रीकी
Name[hsb]=Afrikaansćina
Name[id]=Afrika
Name[ja]=アフリカーンス語
Name[ka]=აფრიკაანსი
Name[kk]=Африкаансша
Name[km]=អាហ្វ្រីកាអាន
Name[ko]=아프리칸스어
Name[ku]=Afrîkaans
Name[lt]=Afrikanso
Name[lv]=Āfrikāņu
Name[mi]=Reo Äwherika Tatimana
Name[mk]=Африкаанс
Name[mn]=Африк
Name[ms]=Afrika
Name[mt]=Afrikans
Name[ne]=अफ्रिकी
Name[nso]=Seburu
Name[pa]=ਅਫਰੀਕੀ
Name[pl]=Afrykanerski
Name[pt_BR]=Africâners
Name[ro]=Africană
Name[ru]=Африкаанс
Name[rw]=Ikinyafurikansi
Name[se]=Afrikánsgiella
Name[sk]=afrikánčina
Name[sl]=afrikansko
Name[sq]=Afrikanisht
Name[sr]=Африканерски
Name[sr@Latn]=Afrikanerski
Name[ss]=Sibhunu
Name[sv]=Sydafrikansk holländska
Name[ta]=ஆப்ரிகான்
Name[te]=ఆఫ్రికాన్స్
Name[tg]=Африкоӣ
Name[th]=ภาษาแอฟริคานส์
Name[tr]=Afrika Dili
Name[tt]=Afrikança
Name[uk]=Південноафриканська
Name[uz]=Afrikancha
Name[uz@cyrillic]=Африканча
Name[ven]=Tshivhuru
Name[vi]=Hoà Nam Phi
Name[xh]=Isibhulu
Name[zh_CN]=南非荷兰语
Name[zh_HK]=南非荷蘭語
Name[zh_TW]=南非荷蘭語
Name[zu]=Isibhunu
