[KCM Locale]
Name=Walloon
Name[af]=Walloonse
Name[ar]=والونية
Name[az]=Valonca
Name[be]=Валонская
Name[bg]=Валонски
Name[bn]=ওয়ালুন
Name[br]=Walloneg
Name[bs]=Valonski
Name[ca]=Való
Name[cs]=Wallonský
Name[csb]=Walońsczi
Name[cy]=Walwneg
Name[da]=Vallonsk
Name[de]=Wallonisch
Name[eo]=Valisa
Name[es]=Valón
Name[et]=Vallooni
Name[eu]=Waloiera
Name[fa]=والونی
Name[fi]=Valloni
Name[fo]=Walloonskt
Name[fr]=Wallon
Name[fy]=Waalsk
Name[ga]=Vallúnais
Name[gl]=Valón
Name[he]=וולונית
Name[hi]=वालून
Name[hr]=Valunjski
Name[hsb]=Walloonisce
Name[hu]=Vallon
Name[is]=Vallónska
Name[it]=Vallone
Name[ja]=ワロン語
Name[ka]=ვალონური
Name[kk]=Валонша
Name[km]=វ៉ាឡុង
Name[ko]=왈론어
Name[ku]=Walûn
Name[lb]=Wallounesch
Name[lt]=Valonų
Name[lv]=Valoņu
Name[mk]=Валонски
Name[mn]=Валлон
Name[nb]=Vallonsk
Name[nds]=Walloonsch
Name[ne]=वालोन
Name[nl]=Waals
Name[nn]=Vallonsk
Name[nso]=Se-Walloon
Name[oc]=Valon
Name[pa]=ਵਾਲੂਨ
Name[pl]=Waloński
Name[pt]=Valão
Name[ro]=Valonă
Name[ru]=Валлонский
Name[rw]=Ikiwaluni
Name[se]=Vallonagiella
Name[sk]=valónčina
Name[sl]=walloonsko
Name[sq]=Uallunisht
Name[sr]=Валонски
Name[sr@Latn]=Valonski
Name[ss]=Si-Walloon
Name[sv]=Vallonska
Name[ta]=வாலூன்
Name[te]=వాలూన్
Name[tg]=Валунӣ
Name[th]=ภาษาวัลลูน
Name[tr]=Valonca
Name[tt]=Walonça
Name[uk]=Валлонська
Name[uz]=Valloncha
Name[uz@cyrillic]=Валлонча
Name[ven]=Walomu
Name[vi]=Oua-lunh
Name[wa]=Walon
Name[zh_CN]=瓦龙语
Name[zh_HK]=華隆語
Name[zh_TW]=華隆語
Name[zu]=Isi-Walloon
