[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-kaffeine
Icon=mime_kaffeine
Patterns=*.kaffeine
Comment=Kaffeine Playlist
Comment[af]=Kaffeine Speel Lys
Comment[ar]=لائحة القراءة ل- Kaffeine
Comment[bg]=Списък за изпълнение (Kaffeine)
Comment[bn]=ক্যাফিন সঙ্গীত-তালিকা
Comment[br]=Roll tonioù Kaffeine
Comment[ca]=Repertori de Kaffeine
Comment[cs]=Seznam skladeb Kaffeine
Comment[da]=Kaffeines spilleliste
Comment[de]=Kaffeine Wiedergabeliste
Comment[el]=Λίστα αναπαραγωγής Kaffeine
Comment[es]=Lista de reproducción de Kaffeine
Comment[et]=Kaffeine esitusnimekiri
Comment[fi]=Kaffeinen soittolista
Comment[fr]=Liste de lecture de Kaffeine
Comment[ga]=Seinmliosta Kaffeine
Comment[gl]=Lista de Reprodución de Kaffeine
Comment[he]=רשימת ניגון של Kaffeine
Comment[hu]=Kaffeine-lejátszólista
Comment[is]=Kaffeine lagalisti
Comment[it]=Playlist di Kaffeine
Comment[ja]=Kaffeine プレイリスト
Comment[ka]=Kaffeine-ის რეპერტუარი
Comment[km]=បញ្ជី​ចាក់ Kaffeine
Comment[lt]=Kaffeine grojaraštis
Comment[nb]=Kaffeine-spilleliste
Comment[nl]=Kaffeine-afspeellijst
Comment[nn]=Kaffeine-speleliste
Comment[pa]=ਕੈਫ਼ੀਨ ਸੰਗੀਤ-ਸੂਚੀ
Comment[pl]=Lista odtwarzania Kaffeine
Comment[pt]=Lista de Reprodução do Kaffeine
Comment[pt_BR]=Lista de Reprodução do Kaffeine
Comment[se]=Kaffeine-čuojahanlistu
Comment[sr]=Kaffeine-ова листа нумера
Comment[sr@Latn]=Kaffeine-ova lista numera
Comment[sv]=Kaffeines spellista
Comment[tg]=Рӯйхати мусиқии Kaffeine
Comment[th]=รายการเล่นของ Kaffeine
Comment[tr]=Kaffeine Oynatma Listesi
Comment[uk]=Список композицій Kaffeine
Comment[xx]=xxKaffeine Playlistxx
Comment[zh_CN]=Kaffeine 播放列表
Comment[zh_TW]=Kaffeine 播放列表


