[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-mplayer2
Icon=video
Patterns=*.avi;*.AVI;*.asf;*.wmv;*.ASF;*.WMV;*.asx;*.ASX;*.wma;*.WMA;*.wmx;*.WMX
Comment=Microsoft Media
Comment[bn]=মাইক্রোসফ্ট মিডিয়া
Comment[ca]=Medi de Microsoft
Comment[cs]=Microsoft média
Comment[da]=Microsoft medie
Comment[el]=Πολυμέσα Microsoft
Comment[fi]=Microsoft-media
Comment[fr]=Média Microsoft
Comment[he]=מדיה של מיקרוסופט
Comment[is]=Microsoft miðill
Comment[km]=ម៉ៃក្រូសូហ្វ​មេឌៀ
Comment[lt]=Microsoft daugialypė terpė
Comment[nn]=Microsoft-medium
Comment[pa]=ਮਾਈਕਰੋਸਾਫਟ ਮੀਡਿਆ
Comment[sv]=Microsoft media
Comment[tg]=Майкрософт медиа
Comment[th]=รูปแบบสื่อของ Microsoft
Comment[tr]=Microsoft Ortamı
Comment[xx]=xxMicrosoft Mediaxx
