[Desktop Entry]
Encoding=UTF-8
Icon=gear
Name=DummyPart
Name[bn]=ডামি-পার্ট
Name[ca]=Part inútil
Name[da]=Tom program-part
Name[et]=Libakomponent
Name[fr]=Partie factice
Name[ja]=ダミーパート
Name[nb]=Tullemodul
Name[nn]=Eksempel-del
Name[se]=Fillenoassi
Name[sv]=Tom programdel
Name[tg]=Қисми амсила
Name[tr]=Kukla Kısım
Name[uk]=Порожній компонент
Name[xx]=xxDummyPartxx
Name[zh_CN]=伪部件
MimeType=audio/x-mp3
ServiceTypes=KaffeinePart
Type=Service
X-KDE-Library=libdummypart
