[KCM Locale]
Name=Norwegian Nynorsk
Name[af]=Noörweese Nynorsk
Name[be]=Нарвежская нюнорск
Name[bg]=Норвежки (нюнорск)
Name[br]=Norvegeg Nynorsk
Name[bs]=Norveški Nynorsk
Name[ca]=Noruec (Nynorsk)
Name[cs]=Norský (Nynorsk)
Name[csb]=Norwesczi Nynorsk
Name[cy]=Nynorsk Norwyeg
Name[da]=Nynorsk
Name[de]=Norwegisch (Nynorsk)
Name[el]=Νορβηγικά (Nynorsk)
Name[eo]=Norvega (Nynorsk)
Name[es]=Noruego Nynorsk
Name[et]=Norra Nynorsk
Name[eu]=Norvegiera (Nynorsk)
Name[fa]=نرس جدید نروژی
Name[fi]=Norja (nynorsk)
Name[fr]=Norvégien Nynorsk
Name[fy]=Noarsk, Nynorsk
Name[ga]=Ioruais (Nynorsk)
Name[gl]=Noruegués (Nynorsk)
Name[he]=נורבגית (Nynorsk)
Name[hi]=नॉरवेजियाई नायनोर्स्क
Name[hr]=Norveški Nynorsk
Name[hsb]=Norwegsce (Nynorsk)
Name[hu]=Norvég (nynorsk)
Name[id]=Norwegia
Name[is]=Norska (nýnorska)
Name[it]=Norvegese Nynorsk
Name[ja]=ノルウェー語 (ニーノシュク)
Name[ka]=ახალნორვეგიული
Name[kk]=Новег нунорскша
Name[km]=ន័រវែស នីនូស
Name[ko]=노르웨이어 (니노르스크)
Name[ku]=Norwêcî Nynorsk
Name[lb]=Norwegeschen Nynorsk
Name[lt]=Norvegų Nynorsk
Name[lv]=Norvēģu (Ņūnorskas)
Name[mk]=Норвешки (Nynorsk)
Name[nb]=Norsk nynorsk
Name[nds]=Norweegsch (Nynorsk)
Name[ne]=नर्वेली निर्नोस्क
Name[nl]=Noors (Nynorsk)
Name[nn]=Norsk (nynorsk)
Name[pa]=ਨਾਰਵੇਗੀਅਨ ਨਿਉਨੋਰਸਕ
Name[pl]=Norweski Nynorsk
Name[pt]=Norueguês Nynorsk
Name[pt_BR]=Norueguês Nynorsk
Name[ro]=Norvegiană Nynorsk
Name[ru]=Новонорвежский
Name[rw]=Ikinyanoruveji nayinorusiki
Name[se]=Ođđadárogiella
Name[sk]=nórsky nynorsk
Name[sl]=norveško (Nynorsk)
Name[sr]=Норвешки нинорски
Name[sr@Latn]=Norveški ninorski
Name[sv]=Norska Nynorska
Name[te]=నర్విజియన్ న్యొర్క్స్
Name[tg]=Норвегиягӣ (Нюнорсӣ)
Name[th]=ภาษานอร์เวย์ (นูนอร์สคฺ)
Name[tr]=Norveççe Nynorsk
Name[tt]=Norwejçä (Ninorsk)
Name[uk]=Норвезька (Nynorsk)
Name[uz]=Norvegcha Nynorsk
Name[uz@cyrillic]=Норвегча Нйнорск
Name[vi]=Na-uy (Ny-noa-x-kh)
Name[wa]=Noû-Norvedjin (Nynorsk)
Name[zh_CN]=挪威语(尼诺斯克语)
Name[zh_HK]=新挪威語
Name[zh_TW]=挪威語 (尼諾斯克語)
