[Desktop Entry]
Encoding=UTF-8
Name=Lame mp3
Name[af]=LAME MP3
Name[hu]=LAME MP3
Name[ka]=Lame-ის mp3
Name[nb]=LAME MP3
Name[pt]=MP3 do LAME
Name[xx]=xxLame mp3xx
ServiceTypes=KaffeineAudioEncoder
Type=Service
X-KDE-Library=libkaffeinemp3lame
