[Desktop Entry]
Encoding=UTF-8
Name=Ogg Vorbis
Name[nb]=OGG Vorbis
Name[pa]=Ogg ਵੋਰਬਿਸ
Name[xx]=xxOgg Vorbisxx
ServiceTypes=KaffeineAudioEncoder
Type=Service
X-KDE-Library=libkaffeineoggvorbis
