[KCM Locale]
Name=Croatian
Name[af]=Kroatiese
Name[ar]=كرواتية
Name[az]=Xorvatca
Name[be]=Харвацкая
Name[bg]=Хърватски
Name[bn]=ক্রোয়েশীয়
Name[br]=Kroateg
Name[bs]=Hrvatski
Name[ca]=Croat
Name[cs]=Chorvatský
Name[csb]=Chòrwacczi
Name[cy]=Croateg
Name[da]=Kroatisk
Name[de]=Kroatisch
Name[el]=Κροατικά
Name[eo]=Kroata
Name[es]=Croata
Name[et]=Horvaadi
Name[eu]=Kroaziera
Name[fa]=کرواسیایی
Name[fi]=Kroatia
Name[fo]=Kroatiskt
Name[fr]=Croate
Name[fy]=Kroatysk
Name[ga]=Cróitis
Name[gl]=Croata
Name[he]=קרואטית
Name[hi]=क्रोएशियाई
Name[hr]=Hrvatski
Name[hsb]=Chorwatsce
Name[hu]=Horvát
Name[id]=Kroatia
Name[is]=Króatíska
Name[it]=Croato
Name[ja]=クロアチア語
Name[ka]=ხორვატიული
Name[kk]=Хорватша
Name[km]=ក្រូអាស៊ី
Name[ko]=크로아티아어
Name[ku]=Kroatî
Name[lb]=Kroatesch
Name[lt]=Kroatų
Name[lv]=Horvātu
Name[mi]=Reo Koroätia
Name[mk]=Хрватски
Name[mn]=Хорват
Name[ms]=Croatia
Name[mt]=Kroat
Name[nb]=Kroatisk
Name[nds]=Kroaatsch
Name[ne]=क्रोयसियाली
Name[nl]=Kroatisch
Name[nn]=Kroatisk
Name[nso]=Se-Croatian
Name[oc]=Cròatian
Name[pa]=ਕਰੋਆਟੀਆਈ
Name[pl]=Chorwacki
Name[pt]=Croata
Name[pt_BR]=Croata
Name[ro]=Croată
Name[ru]=Хорватский
Name[rw]=Ikinyakorowasi
Name[se]=Kroatiagiella
Name[sk]=chorvátčina
Name[sl]=hrvaško
Name[sq]=Kroatisht
Name[sr]=Хрватски
Name[sr@Latn]=Hrvatski
Name[ss]=Si-Croatian
Name[sv]=Kroatiska
Name[ta]=குரொவேஷியன்
Name[te]=క్రొయెషియన్
Name[tg]=Хорватӣ
Name[th]=ภาษาโครเอเชีย
Name[tr]=Hırvatça
Name[tt]=Kroatça
Name[uk]=Хорватська
Name[uz]=Xorvatcha
Name[uz@cyrillic]=Хорватча
Name[ven]=Mukurushia
Name[vi]=Cợ-rô-a-ti
Name[wa]=Crowåte
Name[zh_CN]=克罗地亚语
Name[zh_HK]=克羅地亞語
Name[zh_TW]=克羅地亞語
Name[zu]=Isi-Crotian
