[Desktop Entry]
Categories=Qt;KDE;AudioVideo;Player;
DocPath=kaffeine/index.html
Exec=kaffeine %U
GenericName=Media Player
GenericName[af]=Media Speler
GenericName[ar]=قارء الوسائط
GenericName[be]=Медыяпрайгравальнік
GenericName[bg]=Медия плеър
GenericName[bn]=মিডিয়া প্লেয়ার
GenericName[br]=Soner liesvedia
GenericName[ca]=Reproductor de medis
GenericName[cs]=Přehrávač médií
GenericName[da]=Medieafspiller
GenericName[de]=Medienwiedergabe
GenericName[el]=Αναπαραγωγέας πολυμέσων
GenericName[es]=Reproductor de medios
GenericName[et]=Multimeedia mängija
GenericName[fi]=Mediasoitin
GenericName[fr]=Lecteur de média
GenericName[ga]=Seinnteoir Meán
GenericName[gl]=Reprodutor Multimédia
GenericName[he]=נגן מדיה
GenericName[hu]=Médialejátszó
GenericName[is]=Margmiðlunarspilari
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤ
GenericName[ka]=მედიადამკვრელი
GenericName[km]=កម្មវិធី​ចាក់​មេឌៀ
GenericName[lt]=Daugialypės terpės grotuvas
GenericName[nb]=Mediaspiller
GenericName[nl]=Mediaspeler
GenericName[nn]=Mediespelar
GenericName[pa]=ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz multimedialny
GenericName[pt]=Leitor Multimédia
GenericName[pt_BR]=Reprodutor Multimídia
GenericName[se]=Mediačuojan
GenericName[sr]=Медија плејер
GenericName[sr@Latn]=Medija plejer
GenericName[sv]=Mediaspelare
GenericName[tg]=Навозишгари Медиа
GenericName[th]=โปรแกรมเล่นสื่อ
GenericName[tr]=Çokluortam Oynatıcı
GenericName[uk]=Програвач медіа
GenericName[xx]=xxMedia Playerxx
GenericName[zh_CN]=媒体播放器
GenericName[zh_TW]=媒體播放程式
Icon=kaffeine
MimeType=application/x-ogg;audio/basic;audio/vnd.rn-realaudio;audio/x-aiff;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-ogg;audio/x-pn-realaudio;audio/x-pn-realaudio-plugin;audio/x-scpls;audio/x-wav;audio/x-flac;video/x-matroska;audio/x-matroska;video/mpeg;video/msvideo;video/quicktime;video/vnd.rn-realvideo;video/x-avi;video/x-fli;video/x-flic;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;application/x-mplayer2;application/smil;application/x-kaffeine;audio/x-musepack;audio/x-mod;audio/x-stm;
Name=Kaffeine
Name[bn]=ক্যাফিন
Name[pa]=ਕੈਫ਼ੀਨ
Name[xx]=xxKaffeinexx
Terminal=false
Type=Application
X-KDE-HasTempFileOption=true
