[KCM Locale]
Name=Telugu
Name[be]=Тэлугу
Name[bg]=Телугу
Name[br]=Telegu
Name[eo]=Telugua
Name[eu]=Teluguera
Name[fa]=تلوگو
Name[ga]=Teileagúis
Name[ja]=テルグ語
Name[ka]=ტელუგუ
Name[kk]=Телугу
Name[km]=តេលូហ្គូ
Name[ko]=텔루구어
Name[mk]=Телугу
Name[ne]=तेलगु
Name[pa]=ਤੇਲਗੂ
Name[ru]=Телугу
Name[sk]=telugčina
Name[sl]=teluško
Name[sr]=Телугу
Name[te]=తెలుగు
Name[tg]=Телугӣ
Name[th]=ภาษาเทลูกู
Name[tr]=Telugu Dili
Name[uk]=Телугу
Name[uz@cyrillic]=Телугу
Name[vi]=Te-lu-gu
Name[wa]=Telougou
Name[zh_CN]=泰卢固语

