<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="xine_part" version="21">
<MenuBar>
  <Menu name="file">
    <Menu name="network_broadcasting"><text>&amp;Network Broadcasting</text>
      <Action name="network_send"/>
      <Action name="network_receive"/>
    </Menu>
    <Separator/>
    <Action name="file_save_stream"/>
    <Action name="file_save_screenshot"/>
  </Menu>
  <Menu name="player"><text>&amp;Player</text>
    <Action name="player_play"/>
    <Action name="player_pause"/>
    <Action name="player_stop"/>
    <Action name="player_next"/>
    <Action name="player_previous"/>
    <Separator/>
    <Action name="player_ff"/>
    <Action name="player_slowmotion"/>
    <Separator/>
    <Action name="player_jump_to"/>
    <Menu name="navigation"><text>&amp;Navigation</text>
      <Action name="player_posplus_small"/>
      <Action name="player_posminus_small"/>
      <Action name="player_posplus_medium"/>
      <Action name="player_posminus_medium"/>
      <Action name="player_posplus_large"/>
      <Action name="player_posminus_large"/>
    </Menu>
    <Separator/>
    <Menu name="dvd"><text>&amp;DVD</text>
      <Menu name="dvdnav"><text>&amp;Navigation</text>
	<Action name="dvdmenuleft"/>
	<Action name="dvdmenuright"/>
	<Action name="dvdmenuup"/>
	<Action name="dvdmenudown"/>
	<Action name="dvdmenuselect"/>
      </Menu>
      <Menu name="dvdmenus"><text>&amp;DVD Menus</text>
        <Action name="dvd_toggle"/>
        <Separator/>
        <Action name="dvd_title"/>
        <Action name="dvd_root"/>
        <Action name="dvd_subpicture"/>
        <Action name="dvd_audio"/>
        <Action name="dvd_angle"/>
        <Action name="dvd_part"/>
      </Menu>
      <Action name="dvd_title_menu"/>
      <Action name="dvd_chapter_menu"/>
      <Action name="dvd_angle_menu"/>
    </Menu>
    <Separator/>
    <Menu name="audio"><text>&amp;Audio</text>
      <Action name="audio_channels"/>
      <Action name="next_audio_channels"/>
      <Action name="audio_visualization"/>
      <Action name="equalizer"/>
      <Action name="audio_mute"/>
      <Action name="volume_increase"/>
      <Action name="volume_decrease"/>
    </Menu>
    <Menu name="video"><text>&amp;Video</text>
      <Action name="video_deinterlace"/>
      <Menu name="video_aspect"><text>&amp;Aspect Ratio</text>
        <Action name="aspect_auto"/>
        <Action name="aspect_43"/>
        <Action name="aspect_anamorphic"/>
        <Action name="aspect_dvb"/>
        <Action name="aspect_square"/>
      </Menu>
      <Menu name="video_zoom"><text>&amp;Zoom</text>
        <Action name="zoom_off"/>
        <Action name="zoom_in"/>
        <Action name="zoom_out"/>
	<Action name="zoom_in_x"/>
	<Action name="zoom_out_x"/>
	<Action name="zoom_in_y"/>
	<Action name="zoom_out_y"/>
      </Menu>
      <Separator/>
      <Action name="video_deinterlace_quality"/>
      <Action name="video_picture"/>
    </Menu>
    <Menu name="subtitles"><text>&amp;Subtitles</text>
	<Action name="adv_sub"/>
	<Action name="delay_sub"/>
    	<Action name="player_subtitles"/>
	<Action name="next_player_subtitles"/>
    	<Action name="add_subtitle"/>
    </Menu>
    <Separator/>
    <Action name="player_track_info"/>
    <Action name="player_post_filters"/>
  </Menu>
  <Menu name="settings">
    <Action name="settings_xine_parameter"/>
  </Menu>
</MenuBar>

<ToolBar name="snapshotToolBar" hidden="true"><text>Screenshot Toolbar</text>
  <Action name="file_save_screenshot"/>
</ToolBar>
<ToolBar name="controlsToolBar" position="Bottom"><text>Controls Toolbar</text>
  <Action name="player_previous"/>
  <Action name="player_play"/>
  <Action name="player_pause"/>
  <Action name="player_stop"/>
  <Action name="player_next"/>
  <Action name="audio_channels"/>
  <Action name="player_subtitles"/>
</ToolBar>
<ToolBar name="volumeToolBar" position="Bottom"><text>Volume Toolbar</text>
  <Action name="audio_volume"/>
  <Action name="audio_mute"/>
</ToolBar>
<ToolBar name="positionToolBar" fullWidth="true" position="Bottom"><text>Position Toolbar</text>
  <Action name="player_position"/>
  <Separator/>
  <Action name="player_playtime"/>
</ToolBar>

<Menu name="context_menu">
  <Action name="player_minimal_mode"/>
  <Separator/>
  <Action name="player_play"/>
  <Action name="player_pause"/>
  <Action name="player_stop"/>
  <Action name="player_next"/>
  <Action name="player_previous"/>
  <Action name="file_save_stream"/>
  <Separator/>
  <Action name="player_ff"/>
  <Action name="player_slowmotion"/>
  <Separator/>
  <Action name="player_jump_to"/>
  <Menu name="navigation"><text>&amp;Navigation</text>
    <Action name="player_posplus_small"/>
    <Action name="player_posminus_small"/>
    <Action name="player_posplus_medium"/>
    <Action name="player_posminus_medium"/>
    <Action name="player_posplus_large"/>
    <Action name="player_posminus_large"/>
  </Menu>
  <Separator/>
  <Menu name="dvd"><text>&amp;DVD</text>
    <Menu name="dvdmenus"><text>&amp;DVD Menus</text>
      <Action name="dvd_toggle"/>
      <Separator/>
      <Action name="dvd_title"/>
      <Action name="dvd_root"/>
      <Action name="dvd_subpicture"/>
      <Action name="dvd_audio"/>
      <Action name="dvd_angle"/>
      <Action name="dvd_part"/>
    </Menu>
    <Action name="dvd_title_menu"/>
    <Action name="dvd_chapter_menu"/>
    <Action name="dvd_angle_menu"/>
  </Menu>
  <Separator/>
  <Action name="audio_channels"/>
  <Action name="audio_visualization"/>
  <Action name="audio_mute"/>
  <Separator/>
  <Menu name="subtitles"><text>&amp;Subtitles</text>
    <Action name="adv_sub"/>
    <Action name="delay_sub"/>
    <Action name="player_subtitles"/>
    <Action name="add_subtitle"/>
   </Menu>
  <Separator/>
  <Action name="player_track_info"/>
</Menu>

<State name="xine_not_ready">
  <enable>
    <Action name="player_play"/>
  </enable>
  <disable>
    <Action name="network_send"/>
    <Action name="file_save_stream"/>
    <Action name="file_save_screenshot"/>
    <Action name="player_pause"/>
    <Action name="player_stop"/>
    <Action name="player_next"/>
    <Action name="player_previous"/>
    <Action name="player_ff"/>
    <Action name="player_slowmotion"/>
    <Action name="audio_channels"/>
    <Action name="audio_visualization"/>
    <Action name="audio_volume"/>
    <Action name="audio_mute"/>
    <Action name="player_position"/>
    <Action name="player_posplus_small"/>
    <Action name="player_posminus_small"/>
    <Action name="player_posplus_medium"/>
    <Action name="player_posminus_medium"/>
    <Action name="player_posplus_large"/>
    <Action name="player_posminus_large"/>
    <Action name="player_jump_to"/>
    <Action name="player_playtime"/>
    <Action name="aspect_auto"/>
    <Action name="aspect_43"/>
    <Action name="aspect_anamorphic"/>
    <Action name="aspect_dvb"/>
    <Action name="aspect_square"/>
    <Action name="zoom_off"/>
    <Action name="zoom_in"/>
    <Action name="zoom_out"/>
    <Action name="zoom_in_x"/>
    <Action name="zoom_out_x"/>
    <Action name="zoom_in_y"/>
    <Action name="zoom_out_y"/>
    <Action name="video_deinterlace"/>
    <Action name="video_deinterlace_quality"/>
    <Action name="video_picture"/>
    <Action name="equalizer"/>
    <Action name="player_subtitles"/>
    <Action name="add_subtitle"/>
    <Action name="dvd_toggle"/>
    <Action name="dvd_title"/>
    <Action name="dvd_root"/>
    <Action name="dvd_subpicture"/>
    <Action name="dvd_audio"/>
    <Action name="dvd_angle"/>
    <Action name="dvd_part"/>
    <Action name="dvd_title_menu"/>
    <Action name="dvd_chapter_menu"/>
    <Action name="dvd_angle_menu"/>
    <Action name="dvdmenuleft"/>
    <Action name="dvdmenuright"/>
    <Action name="dvdmenuup"/>
    <Action name="dvdmenudown"/>
    <Action name="dvdmenuselect"/>
    <Action name="player_track_info"/>
    <Action name="player_post_filters"/>
  </disable>
</State>
<State name="not_playing">
  <enable>
    <Action name="player_play"/>
    <Action name="player_next"/>
    <Action name="player_previous"/>
  </enable>
  <disable>
    <Action name="player_pause"/>
    <Action name="player_stop"/>
    <Action name="player_ff"/>
    <Action name="player_slowmotion"/>
    <Action name="player_position"/>
    <Action name="player_posplus_small"/>
    <Action name="player_posminus_small"/>
    <Action name="player_posplus_medium"/>
    <Action name="player_posminus_medium"/>
    <Action name="player_posplus_large"/>
    <Action name="player_posminus_large"/>
    <Action name="player_jump_to"/>
    <Action name="player_playtime"/>
    <Action name="dvd_toggle"/>
    <Action name="dvd_title"/>
    <Action name="dvd_root"/>
    <Action name="dvd_subpicture"/>
    <Action name="dvd_audio"/>
    <Action name="dvd_angle"/>
    <Action name="dvd_part"/>
    <Action name="dvd_title_menu"/>
    <Action name="dvd_chapter_menu"/>
    <Action name="dvd_angle_menu"/>
    <Action name="dvdmenuleft"/>
    <Action name="dvdmenuright"/>
    <Action name="dvdmenuup"/>
    <Action name="dvdmenudown"/>
    <Action name="dvdmenuselect"/>
  </disable>
</State>
<State name="play_single_track">
  <enable>
    <Action name="player_pause"/>
    <Action name="player_stop"/>
    <Action name="player_ff"/>
    <Action name="player_slowmotion"/>
    <Action name="player_position"/>
    <Action name="player_posplus_small"/>
    <Action name="player_posminus_small"/>
    <Action name="player_posplus_medium"/>
    <Action name="player_posminus_medium"/>
    <Action name="player_posplus_large"/>
    <Action name="player_posminus_large"/>
    <Action name="player_jump_to"/>
    <Action name="player_playtime"/>
    <Action name="player_next"/>
    <Action name="player_previous"/>
  </enable>
  <disable>
    <Action name="player_play"/>
  </disable>
</State>
<State name="play_multiple_tracks">
  <enable>
    <Action name="player_pause"/>
    <Action name="player_stop"/>
    <Action name="player_next"/>
    <Action name="player_previous"/>
    <Action name="player_ff"/>
    <Action name="player_slowmotion"/>
    <Action name="player_position"/>
    <Action name="player_posplus_small"/>
    <Action name="player_posminus_small"/>
    <Action name="player_posplus_medium"/>
    <Action name="player_posminus_medium"/>
    <Action name="player_posplus_large"/>
    <Action name="player_posminus_large"/>
    <Action name="player_jump_to"/>
    <Action name="player_playtime"/>
  </enable>
  <disable>
    <Action name="player_play"/>
  </disable>
</State>
<State name="paused">
  <enable>
    <Action name="player_play"/>
  </enable>
</State>
<State name="dvd_playback">
  <enable>
     <Action name="dvd_toggle"/>
     <Action name="dvd_title"/>
     <Action name="dvd_root"/>
     <Action name="dvd_subpicture"/>
     <Action name="dvd_audio"/>
     <Action name="dvd_angle"/>
     <Action name="dvd_part"/>
     <Action name="dvd_title_menu"/>
     <Action name="dvd_chapter_menu"/>
     <Action name="dvd_angle_menu"/>
     <Action name="dvdmenuleft"/>
     <Action name="dvdmenuright"/>
     <Action name="dvdmenuup"/>
     <Action name="dvdmenudown"/>
     <Action name="dvdmenuselect"/>
  </enable>
</State>
</kpartgui>
