[KCM Locale]
Name=Kashubian
Name[bg]=Кашубски
Name[br]=Kashubieg
Name[ca]=Caixubi
Name[cs]=Kašubský
Name[csb]=Kaszëbsczi
Name[da]=Kashubisk
Name[de]=Kaschubisch
Name[el]=Κασουμπιανά
Name[eo]=Kaŝuba
Name[es]=casubio
Name[et]=Kašuubi
Name[fi]=Kašubi
Name[fr]=Kachoube
Name[fy]=Kashubiaansk
Name[ga]=Caisiúibis
Name[hu]=Kasub
Name[id]=Kashubia
Name[is]=Kashubíska
Name[it]=Casciubo
Name[ja]=カシューブ語
Name[ka]=ქაშუბიური
Name[kk]=Кашубша
Name[km]=កាស៊ូប៊ីយ៉ាន
Name[ko]=카슈비아어
Name[ku]=Kaşûbî
Name[lt]=Kašubiečių
Name[mk]=Кашубски
Name[nb]=Kasjubisk
Name[nds]=Kaschuubsch
Name[ne]=कशुबियन
Name[nl]=Kasjoebisch
Name[nn]=Kasjubisk
Name[pa]=ਕਾਸ਼ੂਬੀਆਈ
Name[pl]=Kaszubski
Name[pt]=Sérvio
Name[ru]=Кашубский
Name[sk]=kašubčina
Name[sl]=kašubsko
Name[sr]=Кашупски
Name[sr@Latn]=Kašupski
Name[sv]=Kasjubiska
Name[te]=కషుబియన్
Name[tg]=Кошӯбиявӣ
Name[th]=ภาษาคาชูเบียน
Name[uk]=Кашубська
Name[uz]=Kashubiacha
Name[uz@cyrillic]=Кашубиача
Name[wa]=Cachoube
Name[zh_CN]=卡舒比语
Name[zh_TW]=卡舒比語
