[Desktop Entry]
ServiceTypes=application/x-ogg,audio/basic,audio/vnd.rn-realaudio,audio/x-aiff,audio/x-mp3,audio/x-mpeg,audio/x-mpegurl,audio/x-ms-wma,audio/x-ogg,audio/x-pn-realaudio,audio/x-pn-realaudio-plugin,audio/x-scpls,audio/x-wav,audio/x-flac,video/x-matroska,audio/x-matroska,video/mpeg,video/msvideo,video/quicktime,video/vnd.rn-realvideo,video/x-avi,video/x-fli,video/x-flic,video/x-ms-asf,video/x-ms-wmv,video/x-msvideo,application/x-mplayer2,application/smil,application/x-kaffeine,audio/x-musepack
Actions=kaffeine_append_file;
Encoding=UTF-8

[Desktop Action kaffeine_append_file]
Name=Append to Kaffeine Playlist
Name[af]=Voeg agter aan Kaffeine Speel lys by
Name[ar]= ازادة الى لائحة قراءة Kaffeine 
Name[bg]=Добавяне към списъка за изпълнение на Kaffeine
Name[bn]=ক্যাফিন সঙ্গীত-তালিকাতে সংযোজন করো
Name[br]=Ouzhpennañ da roll tonioù Kaffeine
Name[ca]=Afegeix al repertori de Kaffeine
Name[cs]=Přidat do seznamu skladeb Kaffeine
Name[da]=Tilføj til Kaffeines spilleliste
Name[de]=An Kaffeine Wiedergabeliste anhängen
Name[el]=Προσθήκη στη λίστα αναπαραγωγής του Kaffeine
Name[es]=Añadir a la lista de reproducción de Kaffeine
Name[et]=Lisa Kaffeine esitusnimekirja
Name[fi]=Lisää Kaffeinen soittolistaan
Name[fr]=Ajouter à la liste de lecture de Kaffeine
Name[ga]=Iarcheangail leis an Seinmliosta Kaffeine
Name[gl]=Engadir á Lista de Reprodución de Kaffeine
Name[he]=הוסף לרשימת ניגון של Kaffeine
Name[hu]=Hozzáfűzés a Kaffeine lejátszólistájához
Name[is]=Bæta við Kaffeine lagalista
Name[it]=Accoda alla playlist di Kaffeine
Name[ja]=Kaffeine プレイリストに追加
Name[ka]=დამატება Kaffeine-ის რეპერტუარში
Name[km]=បន្ថែម​ទៅ​ខាង​ចុង​បញ្ជីចាក់ Kaffeine
Name[lt]=Prijungti prie Kaffeine grojaraščio
Name[nb]=Legg til i Kaffeines spilleliste
Name[nl]=Toevoegen aan Kaffeine-afspeellijst
Name[nn]=Legg til Kaffeine-speleliste
Name[pa]=ਕੈਫ਼ੀਨ ਸੰਗੀਤ-ਸੂਚੀ ਵਿੱਚ ਸ਼ਾਮਲ
Name[pl]=Dodaj do listy odtwarzania Kaffeine
Name[pt]=Adicionar à Lista de Reprodução do Kaffeine
Name[pt_BR]=Adicionar à Lista de Reprodução do Kaffeine
Name[se]=Lasit Kaffeine-čuojahanlistu
Name[sr]=Додај на Kaffeine-ову листу нумера
Name[sr@Latn]=Dodaj na Kaffeine-ovu listu numera
Name[sv]=Lägg till i Kaffeines spellista
Name[tg]=Илова кардан ба рӯйхати мусиқии Kaffeine
Name[th]=เพิ่มเข้าไปในรายการเล่นของ Kaffeine
Name[tr]=Kaffeine Oynatma Listesine Ekle
Name[uk]=Додати до списку композицій Kaffeine
Name[xx]=xxAppend to Kaffeine Playlistxx
Name[zh_CN]=追加到 Kaffeine 播放列表
Name[zh_TW]=加入到 Kaffeine 播放列表
Exec=dcop kaffeine KaffeineIface appendURL %u
Icon=kaffeine
