[KCM Locale]
Name=Mongolian
Name[ar]=منغولية
Name[az]=Monqolca
Name[be]=Мангольская
Name[bg]=Монголски
Name[bn]=মোঙ্গল
Name[br]=Mongolieg
Name[bs]=Mongolski
Name[ca]=Mongol
Name[cs]=Mongolský
Name[csb]=Mòngolsczi
Name[cy]=Mongoleg
Name[da]=Mongolsk
Name[de]=Mongolisch
Name[el]=Μογγολικά
Name[eo]=Mongola
Name[es]=Mongol
Name[et]=Mongoli
Name[eu]=Mongoliera
Name[fa]=مغولی
Name[fi]=Mongoli
Name[fr]=Mongol
Name[fy]=Moangoalsk
Name[ga]=Mongóilis
Name[gl]=Mongol
Name[he]=מונגולית
Name[hi]=मंगोलियाई
Name[hr]=Mongolski
Name[hsb]=Mongolisce
Name[hu]=Mongol
Name[id]=Mongolia
Name[is]=Mongólska
Name[it]=Mongolo
Name[ja]=モンゴル語
Name[ka]=მონღოლური
Name[kk]=Моңғолша
Name[km]=ម៉ុងហ្គោលី
Name[ko]=몽골어
Name[ku]=Mongolî
Name[lb]=Mongolesch
Name[lt]=Mongolų
Name[lv]=Mongoļu
Name[mk]=Монголски
Name[mn]=Монгол
Name[ms]=Mongolia
Name[mt]=Mongoljan
Name[nb]=Mongolsk
Name[nds]=Mongoolsch
Name[ne]=मंगोलियन
Name[nl]=Mongools
Name[nn]=Mongolsk
Name[pa]=ਮੰਗੋਲੀਅਨ
Name[pl]=Mongolski
Name[pt]=Mongol
Name[pt_BR]=Mongol
Name[ro]=Mongolă
Name[ru]=Монгольский
Name[rw]=Ikinyamongoliya
Name[se]=Mongoliagiella
Name[sk]=mongolčina
Name[sl]=mongolsko
Name[sq]=Mongolisht
Name[sr]=Монголски
Name[sr@Latn]=Mongolski
Name[sv]=Mongoliska
Name[ta]=மங்கோலியன்
Name[te]=మంగొలియన్
Name[tg]=Mуғулӣ
Name[th]=ภาษามองโกล
Name[tr]=Moğolca
Name[tt]=Moğolça
Name[uk]=Монгольська
Name[uz]=Mugʻulcha
Name[uz@cyrillic]=Муғулча
Name[vi]=Mông-cổ
Name[wa]=Mongol
Name[zh_CN]=蒙古语
Name[zh_HK]=蒙古語
Name[zh_TW]=蒙古語
