[KCM Locale]
Name=Kinyarwanda
Name[be]=Кіньярванда
Name[bg]=Кинияруанда
Name[ca]=Kinyaruanda
Name[eo]=Ruanda
Name[et]=Ruanda
Name[fa]=کینیارواندایی
Name[fi]=Ruanda
Name[ga]=Cinearuáindis
Name[hr]=Kinjaruanda
Name[ja]=ルワンダ語
Name[ka]=კინიარუანდა
Name[kk]=Киньяруанда
Name[km]=គីនយ៉ាវ៉ាន់ដា
Name[ko]=키냐르완다어
Name[mk]=Кинјарванда
Name[ne]=किन्यरवान्दा
Name[pa]=ਕਿਨਯਾਵਾਂਡਾ
Name[ro]=Kiniaruandă
Name[ru]=Киньяруанда
Name[rw]=Ikinyarwanda
Name[sk]=rwandčina
Name[sl]=kinjaruandsko
Name[sr]=Кињарванда
Name[sr@Latn]=Kinjarvanda
Name[te]=కిన్యర్వాడా
Name[tg]=Кинярвандӣ
Name[th]=ภาษาคินยาร์วันดา
Name[tr]=Bantu Dili
Name[uk]=Кіняруванда
Name[uz]=Kinyarvanda
Name[uz@cyrillic]=Кинярванда
Name[vi]=Ki-nyạ-ouanh-đạ
Name[zh_CN]=卢旺达语
Name[zh_HK]=盧旺達語
